#widget #btnAppointment{
	margin-left:-5px;
	margin-top:10px;
}
@media all and (max-width: 480px) {
 #mobile-showcase {
        width: 100%;
        height: 60px;
        display: block;
        position: relative;
        margin-bottom: 30px;
        /*background: url('../img/content/mobile-showcase-img.jpg') no-repeat center;
        background-size: 100% auto;*/
    }

    #mobile-showcase-links {
        width: 100%;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .mobile-showcase-link-item {
        width: calc(100% / 3);
        padding: 10px;
        box-sizing: border-box;
        display: inline-block;
        float: left;
        color: #fff;
        height: 60px;
        text-align: center;
    }}