/*
@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,700,300);
*/


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
.live {
  font-weight: 900;
  background-color: #FAE0E7 !important;
  /* border-bottom: 1px solid #FAE0E7; */
  padding-bottom: 3px !important;
  color: #716558 !important;
  height: 27px;
}
@font-face {
    font-family: 'museo_sans500';
    src: url('../font/museosans_500-webfont.eot');
    src: url('../font/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/museosans_500-webfont.woff2') format('woff2'),
    url('../font/museosans_500-webfont.woff') format('woff'),
    url('../font/museosans_500-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans300';
    src: url('../font/museosans-300-webfont.eot');
    src: url('../font/museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/museosans-300-webfont.woff2') format('woff2'),
    url('../font/museosans-300-webfont.woff') format('woff'),
    url('../font/museosans-300-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Raleway';
    src: url('../font/raleway-regular_0-webfont.eot');
    src: url('../font/raleway-regular_0-webfont.eot?#iefix') format('embedded-opentype'), url('../font/raleway-regular_0-webfont.woff2') format('woff2'), url('../font/raleway-regular_0-webfont.woff') format('woff'), url('../font/raleway-regular_0-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('../font/raleway-medium_0-webfont.eot');
    src: url('../font/raleway-medium_0-webfont.eot?#iefix') format('embedded-opentype'), url('../font/raleway-medium_0-webfont.woff2') format('woff2'), url('../font/raleway-medium_0-webfont.woff') format('woff'), url('../font/raleway-medium_0-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('../font/raleway-semibold_0-webfont.eot');
    src: url('../font/raleway-semibold_0-webfont.eot?#iefix') format('embedded-opentype'), url('../font/raleway-semibold_0-webfont.woff2') format('woff2'), url('../font/raleway-semibold_0-webfont.woff') format('woff'), url('../font/raleway-semibold_0-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*End of RESET.CSS*/
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 110%;
    -webkit-text-size-adjust: auto;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 12px;
}

strong {
    font-weight: bold;
}

.hidden {
    display: none;
}

button.btn-type2 {
    border: none !important;
}
input.btn-type2 {
    height: 44px;
}

.h1-light-blue {
    color: #0080bc;
    font-size: 18px;
    font-weight: 300;
    margin-top: 30px;
}

.ul-list li {
    list-style: disc;
    margin: 20px;
}


body, html {
  width: 100%;
  height: auto;
  font-family: 'museo_sans300', Arial, Helvetica, sans-serif;
  color: #716558;
  line-height: 20px;
  font-size: 12.5px;
  background: #eee4e7 url("../img/site/vm-pattern-light.png") repeat;
}
a {
    text-decoration: none;
    color: #364f60;
}

b {
    font-weight: bold;
}

.clear {
    clear: both;
}

.bold {
    font-weight: bold;
}

.middle-content {
    display: inline-block;
    transition: 1s;
}

.container {
    width: 960px;
    margin: 0 auto;
    position: relative;
    clear: both;
}

.full-width {
    width: 100%;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

hr {
    height: 1px;
    color: #c9d4e0;
    background: #c9d4e0;
    border: 0;
    margin: 30px auto;
}
hr.red-hr {
    height: 1px;
    color: #4c0216;
    background: #4c0216;
    border: 0;
    margin: 10px auto;
}

hr.brown-hr {
    height: 1px;
    color: #706457;
    background: #706457;
    border: 0;
    margin:0 0 30px 0;
}




.l-modal {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding: 100px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 999999;
    text-align: center;
    opacity: 0;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

    .l-modal.opened {
        opacity: 1;
        left: 0%;
    }

.kullanim-kosullari-container {
    width: 60%;
    margin: auto;
}

.btn-close-modal {
    position: absolute;
    right: 50px;
    top: 50px;
}

.btn-blue {
    background: #0a6e9d;
    background: -moz-linear-gradient(top, #0a6e9d 0%, #075280 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0a6e9d), color-stop(100%, #075280));
    background: -webkit-linear-gradient(top, #0a6e9d 0%, #075280 100%);
    background: -o-linear-gradient(top, #0a6e9d 0%, #075280 100%);
    background: -ms-linear-gradient(top, #0a6e9d 0%, #075280 100%);
    background: linear-gradient(to bottom, #0a6e9d 0%, #075280 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a6e9d', endColorstr='#075280', GradientType=0);
    padding: 10px 24px;
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    transition: .3s;
}


    .btn-blue img {
        vertical-align: middle;
        margin-right: 4px;
    }

.btn {
    color: #fff;
    font-size: 13px;
    display: inline-block;
}

.btn-radio {
    background: #e9eef3;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U5ZWVmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #e9eef3 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9eef3), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #e9eef3 0%, #ffffff 100%);
    background: -o-linear-gradient(top, #e9eef3 0%, #ffffff 100%);
    background: -ms-linear-gradient(top, #e9eef3 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #e9eef3 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9eef3', endColorstr='#ffffff', GradientType=0);
}

    .btn-radio.selected {
        border: solid 1px #fae0e7;
    }

.btn.btn-default {
  padding: 13px 38px;
  background: #90032B;
}



.btn-absolute {
    position: absolute;
    right: 20px;
    bottom: 35px;
}

.btn-small {
    padding: 5px !important;
}

.btn-search {
    border: none;
    background: url("../img/site/ico-search.png") no-repeat;
    width: 24px;
    height: 24px;
    cursor: pointer;
    text-indent: -9000px;
    outline: none;
    display: block;
}

.btn {
    margin-left: 5px;
}
/*End of global variables*/
#mobile-header {
    display: none;
    background: #fff;
    border-bottom: 1px solid #ddd;
    position: relative;
}

#mobile-menu-container {
    text-align: right;
    z-index: 999999;
    width: 60%;
    position: fixed;
    top: 90px;
    right: -100%;
    background: #ddd;
    transition: .3s;
}

.mobile-menu-container-opened {
    right: 10px !important;
}

.ico-menu-arrow {
    vertical-align: middle;
    transition: .3s;
}

.ico-menu-arrow-opened {
    transform: rotate(180deg);
}

.sub-ul {
    display: none;
}

.main-ul-mobile {
    color: #5e001b !important;
}

.display-open {
    display: block !important;
}


.main-ul li {
    border-bottom: 1px solid #000;
    padding: 8px 10px;
}

.sub-ul li {
    border-bottom: none;
}


#top-header {
    width: 100%;
    height: 34px;
    background: #6c001f url(../img/vm-pattern-dark.png);
    text-align: right;
    font-size: 12px;
}

    #top-header a {
        margin: 3px 0;
        color: #ffffff;
        display: inline-block;
        padding: 3px 8px;
    }

   #top-header img {
  vertical-align: middle;
  margin-top: -5px;
}
#header {
    position: relative;
    z-index: 1000;
    background:#fff url("../img/site/bg-header.png") no-repeat 49.5% 50%;
    height: 150px;
}

#logo {
    float: left;
    margin-top: 56px;
}
#logo img{width: 100%}

.top-language {
  position: relative;
  float: left;
  z-index: 9991;
}

    .top-language:hover span {
        display: block;
    }

  .top-language span {
  position: absolute;
  background: #6C001F;
  padding: 6px 17px;
  left: -2px;
  top: 24px;
  display: none;
}

.blue-form {
    position: absolute;
    color: #fff;
    z-index: 9999;
}

    .blue-form a {
        color: #fff;
        text-decoration: underline;
    }

    .blue-form hr {
        height: 1px;
        color: #fff;
        background: #fff;
        font-size: 0;
        border: 0;
        margin: 10px 0;
    }

    .blue-form.uyelik {
        width: 230px;
        height: 215px;
        padding: 12px;
        right: 20px;
        top: 10px;
        box-shadow: 5px 2px 20px rgba(0, 0, 0, 0.7);
        display: none;
		background:#8f022a
    }

  .blue-form.ebulten {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  left: 0;
  opacity: 1;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
    
        .blue-form.ebulten.opened {
            opacity: 1;
            left: 0%;
        }

    .blue-form.uyelik.opened {
        display: block;
    }
    #forgotpwd.opened {
        display:block;
    }
.ebulten form{position: relative; width: 70%; margin:0 auto; margin-top: 64%}

.ebulten form .btn-type2 {
  cursor: pointer;
  padding: 12px 22px;
  background: #fff;
  color: #6c001f;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 6px;
}

.blue-form input[type="text"] {
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    width: 100%;
    margin: 0 auto;
    padding: 10px 16px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 2px solid #fff;
    background: #FDFDFD;
    color: #716558;
    font-size: 14px;
    width: 100%;
    margin-top: 0;
}

.blue-form input[type="password"] {
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin: 0 auto;
  padding: 10px 16px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 2px solid #fff;
  background: #FDFDFD;
  color: #716558;
  font-size: 14px;
}

#btn-giris {
    padding: 10px 30px;
    float: right;
}

#btn-uye-ol {
  width: 86%;
  margin-left: 0;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
}

.img-trg {
  position: absolute;
  top: -5px;
  left: 84%;
}
#forgotpwd {
  background-color: #6C001F;
  padding: 10px;
  border-radius: 6px;
  margin-top: 5px;
  position: absolute;
  left: 671px;
  width: 250px;
  display: none;
}
.blue-form.pwd h5 {
    text-align:center;
    margin-top:5px;
    margin-bottom:15px;
}
.blue-form.pwd .pwd-btn {
  background-color: #EEE4E7;
  border: none;
  border-radius: 3px;
  line-height: 32px;
  padding-left: 74px;
  padding-right: 74px;
  cursor: pointer;
  font-weight: 600;
  color: #5A5A5A;
}
#header-social {
    float: right;
    margin-top: 46px;
}

.header-social-item {
    width: 18px;
    height: 18px;
    background: url("../img/site/sprite-header-social.png") no-repeat;
    display: inline-block;
    margin-right: 5px;
}

    .header-social-item.twitter {
        background-position: -26px 0;
    }

    .header-social-item.instagram {
        background-position: -56px 0;
    }

    .header-social-item.pinterest {
        background-position: -87px 0;
    }

    .header-social-item.googleplus {
        background-position: -118px 0;
    }

    .header-social-item.linkedin {
        background-position: -148px 0;
    }

    .header-social-item.youtube {
        background-position: -180px 0;
    }

#main-navigation {
    margin-top: 17px;
    position: relative;
    float: right;
    clear: right;
}

    #main-navigation > li {
        float: left;
        margin-left: 22px;
    }

        #main-navigation > li > a {
            display: block;
            color: #6c001f;
            font-size: 14px;
            padding: 5px 5px 40px 5px;
        }

    #main-navigation li .mega-menu {
        position: absolute;
        padding: 37px 23px;
        z-index: 10;
        top: 63px;
        left: 50%;
        display: none;
        width: 654px;
        margin-left: -480px;
        background: #e9eef3;
        background: url("../img/site/transparent.png") repeat ;
    }

    #main-navigation li:hover .mega-menu {
        display: block;
    }

    #main-navigation li .mega-menu.hakkimizda {
        height: 180px;
    }

        #main-navigation li .mega-menu.hakkimizda .menu-photo {
            float: right;
        }

        #main-navigation li .mega-menu.hakkimizda .submenu-list {
            float: left;
            width: 595px;
        }

            #main-navigation li .mega-menu.hakkimizda .submenu-list > li {
                float: left;
                width: 178px;
                margin-left: 20px;
                margin-bottom: 20px;
            }

               

                #main-navigation li .mega-menu.hakkimizda .submenu-list > li > a {
                    color: #fff;
                    font-size: 16px;
                    display: block;
                    padding-bottom: 2px;
                    border-bottom: solid 1px #cad4e0;
                    margin-bottom: 10px;
                    font-weight: 300;
                }

            #main-navigation li .mega-menu.hakkimizda .submenu-list li li a {
                color: #fff;
                font-size: 14px;
                display: block;
                line-height: 24px;
            }

    #main-navigation li .mega-menu.hastane {
        height: 210px;
    }

        #main-navigation li .mega-menu.hastane li {
            float: left;
            width: 47%;
            margin-left: 22px;
            padding-left: 22px;
            border-left: solid 1px #cad4e0;
        }

            #main-navigation li .mega-menu.hastane li:first-child {
                margin-left: 0px;
                padding-left: 0px;
                border: none;
            }

            #main-navigation li .mega-menu.hastane li h5 {
                color: #0080bc;
                padding-bottom: 3px;
                border-bottom: solid 1px #cad4e0;
            }

            #main-navigation li .mega-menu.hastane li .desc {
                color: #364f60;
                font-size: 12px;
                padding-top: 7px;
            }

                #main-navigation li .mega-menu.hastane li .desc p {
                    margin-bottom: 12px;
                }

            #main-navigation li .mega-menu.hastane li .photo {
                float: right;
                margin-left: 10px;
            }

    #main-navigation > li:hover > a, #main-navigation > li > a.selected {
        background: url("../img/site/down-arrow.png") no-repeat 50% 60%;
    }

    #main-navigation > li:first-child {
        margin-left: 0px;
    }
/** Promo ****************************************/
#promo {
    position: relative;
    top: -2px;
    left: 0;
    width: 100%;
    z-index: 11;
}
.sl-slider-wrapper {
    width: 914px;
    height: 460px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.sl-slider {
    position: absolute;
    top: 0;
    left: 0;
}
/* Slide wrapper and slides */
.sl-slide,
.sl-slides-wrapper,
.sl-slide-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.sl-slide {
    z-index: 1;
}
/* The duplicate parts/slices */
.sl-content-slice {
    overflow: hidden;
    position: absolute;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background: #fff;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 1;
}
/* Horizontal slice */
.sl-slide-horizontal .sl-content-slice {
    width: 100%;
    height: 50%;
    left: 0px;
    -webkit-transform: translateY(0%) scale(1);
    -moz-transform: translateY(0%) scale(1);
    -o-transform: translateY(0%) scale(1);
    -ms-transform: translateY(0%) scale(1);
    transform: translateY(0%) scale(1);
}
/* Vertical slice */
.sl-slide-vertical .sl-content-slice {
    width: 50%;
    height: 100%;
    top: -200px;
    -webkit-transform: translateX(0%) scale(1);
    -moz-transform: translateX(0%) scale(1);
    -o-transform: translateX(0%) scale(1);
    -ms-transform: translateX(0%) scale(1);
    transform: translateX(0%) scale(1);
}
/* Content wrapper */
/* Width and height is set dynamically */
.sl-content-wrapper {
    position: absolute;
}

.sl-content {
    width: 100%;
    height: 100%;
}

#promo .sl-slider-wrapper {
    width: 100%;
    height: 460px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

    #promo .sl-slider-wrapper .slide-inner-content {
        width: 914px;
        margin: 0 auto;
        position: relative;
        z-index: 100;
    }

#promo .sl-slider h1 {
    font-size: 44px;
    color: #fff;
    padding-top: 50px;
    font-family: "Noto Serif", Arial, Helvetica, sans-serif;
}

#promo .sl-slider h4 {
    font-size: 24px;
    color: #fff;
}

#promo .sl-slider p {
    font-size: 18px;
    color: #fff;
    padding-top: 20px;
    line-height: 120%;
}

#promo .bg-img {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center top;
}
/* Animations for content elements */
.item.roll {
    -webkit-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
    -moz-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
    -o-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
    -ms-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
    animation: roll 1s ease-out both, fadeIn 1s ease-out both;
}

.item.moveup {
    -webkit-animation: moveUp 1s ease-in-out both;
    -moz-animation: moveUp 1s ease-in-out both;
    -o-animation: moveUp 1s ease-in-out both;
    -ms-animation: moveUp 1s ease-in-out both;
    animation: moveUp 1s ease-in-out both;
}

.item.moveup2 {
    -webkit-animation: moveUp 2s ease-in-out both;
    -moz-animation: moveUp 2s ease-in-out both;
    -o-animation: moveUp 2s ease-in-out both;
    -ms-animation: moveUp 2s ease-in-out both;
    animation: moveUp 2s ease-in-out both;
}

.item.fadein {
    -webkit-animation: fadeIn 0.2s linear 0.2s both;
    -moz-animation: fadeIn 0.2s linear 0.2s both;
    -o-animation: fadeIn 0.2s linear 0.2s both;
    -ms-animation: fadeIn 0.2s linear 0.2s both;
    animation: fadeIn 0.2s linear 0.2s both;
}

.item.scaledown {
    -webkit-animation: scaleDown 1s ease-in-out both;
    -moz-animation: scaleDown 1s ease-in-out both;
    -o-animation: scaleDown 1s ease-in-out both;
    -ms-animation: scaleDown 1s ease-in-out both;
    animation: scaleDown 1s ease-in-out both;
}

.nav-dots {
    /*text-align: center;
    position: absolute;
    bottom: 2%;
    height: 30px;
    width: 100%;
    left: 0;
    z-index: 1000;*/
	
	
	text-align: center;
    position: absolute;
    bottom: 2%;
    height: 30px;
    width: 100%;
    left: 0;
    z-index: 1000;
    display:none;
	
}
.sol {}
.nav-dots span {
	display: inline-block;
	position: relative;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	margin: 3px;
	background: #ddd;
	background: rgba(150, 150, 150, 0.4);
	cursor: pointer;
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.4), inset 0 1px 1px rgba(0, 0, 0, 0.1);
   
}

.nav-dots span.nav-dot-current,
.nav-dots span:hover {
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.4), inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 0 5px rgba(255, 255, 255, 0.5);
}

.nav-dots span.nav-dot-current:after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	top: 3px;
	left: 3px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.8);
}




.nav-arrows span {
            position: absolute;
            z-index: 2000;
            top: 55%;
            width: 100px;
            height: 100px;
            /*border: 6px solid #ddd;
            border: 6px solid rgba(150,150,150,0.6);*/
            text-indent: -90000px;
            margin-top: -40px;
            cursor: pointer;
             background: url("/assets/img/site/r-arrow.png") no-repeat ; 
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}
 
.nav-arrows span:hover {
             background: url("/assets/img/site/r-arrw-w.png") no-repeat;
             width: 100px;
            height: 100px;
}
 
.nav-arrows span.nav-arrow-prev {
            left: 2%;
            border-right: none;
            border-top: none;
}
 
.nav-arrows span.nav-arrow-next {
  right: 2%;
  border-left: none;
  border-bottom: none;
  width: 100px;
  height: 100px;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
}



@-webkit-keyframes roll {
    0% {
        -webkit-transform: translateX(500px) rotate(360deg);
    }

    100% {
        -webkit-transform: translateX(0px) rotate(0deg);
    }
}

@-moz-keyframes roll {
    0% {
        -moz-transform: translateX(500px) rotate(360deg);
        opacity: 0;
    }

    100% {
        -moz-transform: translateX(0px) rotate(0deg);
        opacity: 1;
    }
}

@-o-keyframes roll {
    0% {
        -o-transform: translateX(500px) rotate(360deg);
        opacity: 0;
    }

    100% {
        -o-transform: translateX(0px) rotate(0deg);
        opacity: 1;
    }
}

@-ms-keyframes roll {
    0% {
        -ms-transform: translateX(500px) rotate(360deg);
        opacity: 0;
    }

    100% {
        -ms-transform: translateX(0px) rotate(0deg);
        opacity: 1;
    }
}

@keyframes roll {
    0% {
        transform: translateX(500px) rotate(360deg);
        opacity: 0;
    }

    100% {
        transform: translateX(0px) rotate(0deg);
        opacity: 1;
    }
}

@-webkit-keyframes moveUp {
    0% {
        -webkit-transform: translateY(40px);
    }

    100% {
        -webkit-transform: translateY(0px);
    }
}

@-moz-keyframes moveUp {
    0% {
        -moz-transform: translateY(40px);
    }

    100% {
        -moz-transform: translateY(0px);
    }
}

@-o-keyframes moveUp {
    0% {
        -o-transform: translateY(40px);
    }

    100% {
        -o-transform: translateY(0px);
    }
}

@-ms-keyframes moveUp {
    0% {
        -ms-transform: translateY(40px);
    }

    100% {
        -ms-transform: translateY(0px);
    }
}

@keyframes moveUp {
    0% {
        transform: translateY(40px);
    }

    100% {
        transform: translateY(0px);
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes scaleDown {
    0% {
        -webkit-transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.5);
    }
}

@-moz-keyframes scaleDown {
    0% {
        -moz-transform: scale(1);
    }

    100% {
        -moz-transform: scale(0.5);
    }
}

@-o-keyframes scaleDown {
    0% {
        -o-transform: scale(1);
    }

    100% {
        -o-transform: scale(0.5);
    }
}

@-ms-keyframes scaleDown {
    0% {
        -ms-transform: scale(1);
    }

    100% {
        -ms-transform: scale(0.5);
    }
}

@keyframes scaleDown {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.5);
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
/** Promo ****************************************/
#footer {
  background: #6c001f url(../img/site/vm-pattern-dark.png);
  padding: 40px 0 50px 0;
  margin-top: 36px;
  float: left;
  display: block;
  width: 100%;
}
.med-tech {
	color:#fff;
}
.footer-coloumn {
    float: left;
    margin-right: 86px;
    font-size: 16px;
}

    .footer-coloumn h5 {
        color: #fff;
        margin-bottom: 6px;
        font-family:museo_sans500;
        font-size: 13px;
    }

    .footer-coloumn a {
        color: #fff;
        display: block;
        font-size: 11px;
        margin-bottom: 5px;
    }

    .footer-coloumn.last-coloumn {
        margin-right: 0px;
    }

.creaturk {
  float: left;
  display: block;
  width: 41%;
}
.creaturk a {
  color: #fff;
  margin-left: 10%;
  float: left;
  display: block;
  margin-top: 4px;
}
.creaturk a p {
  float: left;
  margin-top: -3px;
  text-transform: capitalize;
}
.creaturk a img {
    width: 38%;
    margin-top: 14px;
    /* display: block; */
    margin-left: -89px;
}
#copyright {
  width: 100%;
  height: 120px;
  line-height: 60px;
  color: #fff;
  text-align: center;
  background-color: #6c001f;
  font-size: 14px;
  font-weight: 300;
  float: left;
  display: block;
  width: 100%;
  box-shadow: 1px 1px 14px #000;
}
.copyright-text {
  float: left;
}

.global-loading {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 09) url('../img/site/loading.gif') no-repeat center center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999999999999;
}
/*End of Header&Footer*/
/*Anasayfa*/

#mobile-showcase, #mobile-showcase-links {
    display: none;
}

.home-slider {
    position: relative;
    margin-bottom: 64px;
    height: 446px;
    background:url(../img/site/headline.png) no-repeat 50% 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


    .home-slider img {
        position: absolute;
        top: 0;
        left: 0;
    }

.home-top-item {
    display: inline-block;
    float: left;
    width: calc(33.3% - 10px);
    text-align: center;
    margin-right: 10px;
}

    .home-top-item:last-child {
        margin-right: 0px !important;
    }

    .home-top-item.e-bebek h2 {
        margin: 24px 0 28px 0;
    }

.h1-home {
    color: #fff;
    font-size: 28px;
    border-bottom: 5px solid #edf1f4;
    padding-bottom: 5px;
    text-align: center;
}

.home-top-item-container {
    width: 100%;
    margin-top: 12px;
    background: #edf1f4;
}

    .home-top-item-container p {
        font-weight: 300;
        margin-top: 8px;
        font-size: 12px;
    }

    .home-top-item-container h2 {
        font-size: 15px;
        margin: 24px 0 8px 0;
        min-height: 55px;
    }

    .home-top-item-container span {
        font-size: 12px;
    }

.home-top-item-description {
    padding: 0 24px 20px 24px;
    box-sizing: border-box;
}

    .home-top-item-description a {
        padding: 10px 20px;
        background: #c5d0db;
        display: inline;
        position: relative;
        bottom: -30px;
        color: #fff;
        transition: .3s;
    }

        .home-top-item-description a:hover {
            background: #a4adb7;
        }

.hr-home {
    margin: 60px 0 30px 0;
}

#home-news {
    width: 46%;
    padding:2%;
    height: 490px;
    float: left;
    background:url("../img/site/bg-home-news.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}


#home-news .h1-home,.home-events .h1-home{border-bottom: none;  padding-bottom: 40px;}
.home-events .h1-home{color:#5e001b; text-align: left }

#home-news .h1-home{text-align: right;}
#home-events .h1-home{text-align: left;}
#home-events {
    width: 50%;
    float: right;

}

.home-events {
    width: 46%;
    padding:2%;
    float: right;
    height: 490px;
    background:url("../img/site/etkinlikler-banner.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

    .home-events .home-news-item {
        margin-left: 0;
    }

.home-news-item {
    width: 70%;
    text-align: right;
    float: right;
    margin-left: 10px;
}

    .home-news-item.full-width {
        width: 100% !important;
    }

    .home-news-item img {
        min-height: 143px;
    }

    .home-news-item:first-child {
        margin-left: 0;
    }

.home-news-item-description {
    padding: 5px;
    box-sizing: border-box;
}

    .home-news-item-description h2 {
        font-size: 23px;
        margin: 10px 0;
        height: 70px !important;
        color:#fff
    }

.home-events .home-news-item-description h2,.home-events .home-news-item-description p{color:#5e001b;}

.home-news-item-description p {
  font-size: 15px;
  font-weight: 100;
  color: #fff;
  padding-top: 52px;
}

    .home-news-item-description a {
        display: block;
        text-align: right;
        color: #7fbfdd;
        font-size: 10px;
    }

.home-news-item .date-label,.home-events .date-label {
    width: 111px;
    height: 114px;
    color: #8f022a;
    background: url("../img/site/date-label.png") no-repeat 0 0;
    font-size: 41px;
    text-align: center;
    padding-top: 34px;
    box-sizing: border-box;
    float: right;
    margin-bottom: 20px;
}
.home-events .date-label{
    float: left;}

.home-news-item .date-label em,.home-events .date-label strong{ font-weight: normal;font-family: 'museo_sans500';}
.home-news-item .date-label span,.home-events .date-label span {
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    line-height: 18px;
    padding-top: 10px;
}
.home-news-item .date-label em,.home-events .date-label em {
    font-size: 11px;
    text-style:normal;
    display: block;
    line-height: 12px;
}

.btn-container{ position: absolute; bottom: 20px}
#home-news .btn-container{ right: 1%;}
.btn-gray,.btn-white{ padding: 4px; float: right; background-color: #c7c5c5; color:#8f022a !important;  margin:10px; font-size: 14px !important;-webkit-border-radius: 3px;     -moz-border-radius: 3px;    border-radius: 3px;}
.btn-white{ background-color: #fff;}
.home-events .btn-gray,.home-events .btn-white{   float: left;}

.medikalteknoloji-slider {
    color: #5e001b;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
    height: 340px;
}

    .medikalteknoloji-slider li {
        height: 204px;
        width: 267px !important;
        float: left;
        padding: 16px;
        box-sizing: border-box;
        background:url("../img/site/medikalteknoloji.png") no-repeat 100% 0;
        /* background-color: #fff;*/
    }
    .medikalteknoloji-slider .bx-viewport{ width:800px !important;margin:0 auto; }
    .medikalteknoloji-slider li img{
        width: 107px !important;
        margin:0 auto;
        display: block;}

    
	.medikalteknoloji-slider h1 {
		background: rgba(0, 0, 0, 0) url("../img/site/bg-transparent-gray.png") repeat scroll 0 0;
		color: #fff;
		display: inline-block;
		font-family: museo_sans300;
		font-size: 30px;
		font-weight: normal;
		margin-bottom: 10px;
		padding: 15px 0;
	}

    .medikalteknoloji-slider p {
        margin-bottom: 50px;
        color:#bd0a3d;
        font-size:16px
    }

    .medikalteknoloji-slider .title {
        display: block;
        text-align: center;
        font-size: 15px;
        color: #5e001b;
        margin-top:20px
    }

.home-bottom-cta-item {
    position: relative;
    float: left;
    width: 33.3%;
    color: #fff;
}

    .home-bottom-cta-item:first-child {
        margin-left: 0px;
    }

        .home-bottom-cta-item:first-child h1 {
            margin-left: 0px;
            color: #fff;
        }

    .home-bottom-cta-item h1 {
        position: absolute;
        top: 36%;
        width: 100%;
        text-align: center;
        font-size: 44px;
        line-height: 46px;
        color: #fff;
    }

    .home-bottom-cta-item ul {
        position: absolute;
        top: 70%;
        color: #fff;
        width: 100%;
        text-align: center;
    }
.home-bottom-cta-item ul a{ color:#fff; font-size: 18px}

    .home-bottom-cta-item.ebulten {
        overflow: hidden;
        position: relative;
    }

    .home-bottom-cta-item li {
        line-height: 30px;
    }
.home-bottom-cta-item img{ width: 100%}
.tibbi-faaliyet-raporu a.download,.ebulten p{ position: absolute; top:78%; width: 100%; text-align: center; color:#fff; font-size: 18px; line-height: 24px;}
.ebulten p{ top:54%}

.pad4050{padding: 40px 50px;}
.pad20{padding: 20px;}
h1{ font:normal 15px/18px museo_sans500; margin-bottom: 20px}
h1.huge{ font:normal 30px/36px museo_sans500; text-align: center}
.content { background: #fae0e7}
.content p {
  margin-bottom: 16px;
  padding-right: 20px;
  padding-left: 20px;
}
.sub-content {
    padding: 24px;
    background: #fff
}

.sub-content-wide {
  float: left;
  display: block;
  width: 960px;
  background-color: #FAE0E7;
  padding-bottom: 40px;
}

.sub-content .content-section {
    margin-bottom: 30px;
}

.sub-content .content-section-alt {
    margin-bottom: 30px;
}

    .sub-content .content-section-alt a {
        color: #364f60;
        font-weight: bold;
    }

.sub-content .content-section .grid2 {
    float: left;
    width: 350px;
}

.sub-content .content-section .grid4 {
    margin-left: 350px;
}

.sub-content .content-section .grid4.content {
   background: none;
}

.sub-content .content-section h5 {
    color: #364f60;
    margin-bottom: 16px;
}

.sub-content .content-section p, .sub-content .content-section-alt p {
    font-size: 12px;
    color: #364f60;
    margin-bottom: 16px;
}

.sub-content .header-line {
    padding-bottom: 10px;
    margin-top: 50px;
}

.sub-content .content-section:before, .sub-content .content-section:after {
    content: " ";
    display: table;
}

.sub-content .content-section:after {
    clear: both;
}

.sub-page-title {
    position: relative;
    height: 350px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-y: 0px;
}


.bg-1{background-image: url("../../assets/img/site/headline.png")}
.bg-2{background-image: url("../../assets/img/site/headline-doktorlar.jpg")}

.bg-4{background-image: url("../../assets/img/site/headline-vizyon.jpg")}
.bg-5{background-image: url("../../assets/img/site/headline-randevu.jpg")}
.bg-5{background-image: url("../../assets/img/site/headline-randevu.jpg")}
.bg-6{  background-image: url("../../assets/img/site/headline-tibbi.jpg");}
.sub-page-title.bg-hastanemiz {
    background-image: url("../../assets/img/site/hastanemiz-bg.jpg");
    background-position-y: -31px;
}
.sub-page-title.bg-medical-tech {
    background-image: url("../../assets/img/site/medikalteknoloji.jpg");
    background-position-y: -31px;
}
.sub-page-title.bg-online-hiz {
    background-image: url("../../assets/img/site/online-hiz.jpg");
    background-position-y: -31px;
}
.sub-page-title img {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: auto;
    }

 .sub-page-title h1 {
    color: #4d0217;
    font-family: museo_sans500, Arial, Helvetica, sans-serif;
    font-size: 55px;
    background: url("../../assets/img/site/bg-transparent-white.png") repeat;
    font-weight: 300;
    padding: 12px;
    line-height: 58px;
   
}

.sub-page-sub-nav {
    width: 100%;
    height: 50px;
    background-color: #5a7e96;
    line-height: 50px;
    text-align: center;
}

    .sub-page-sub-nav a.four-col {
        width: calc(25% - 3px);
        display: inline-block;
    }

    .sub-page-sub-nav li {
        float: left;
        margin-left: 33px;
    }

    .sub-page-sub-nav a {
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;
    }

        .sub-page-sub-nav a.active {
            font-weight: bold;
        }

    .sub-page-sub-nav .left {
        width: 50%;
        float: left;
    }

    .sub-page-sub-nav .right {
        float: left;
        width: 50%;
    }
.sublinks{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #716558;
    left: 0;}

.sublinks li{
    float: left;
}
.sublinks li a{
    padding: 10px 11px;
    color: #ffffff;
    font-size: 14px;
    display: block;}
.breadcrumb {
    position: absolute;
    bottom: 18px;
    left: 24px;
    color: #d3dce4;
    font-size: 12px;
}

    .breadcrumb a {
        color: #d3dce4;
    }

.anlasmaliliste li{ font-size: 12px }
.anlasmaliliste,.anlasmaliliste li ul{ margin-left: 20px;}
.anlasmaliliste  ul{ margin:20px !important; }

.logo-kit li{
    float: left;
    width: 310px;
    margin: 40px;
}
.logo-kit li:nth-child(2n+1){margin-right: 50px}

.logo-kit li img{width:196px; border-bottom: 3px solid #716558; padding:30px 56px; margin-bottom: 4px}
.logo-kit li .logo-type{
    float: left;
    font-size: 20px;}
.logo-kit li .logo-download{
    float: right;
    background: url(../img/site/logo-download.png) no-repeat 0 50%;
    padding-left: 16px;
    font-size: 20px;}

    /*Accordion Menu*/
.accordion {
}

.accordion-content {
  padding: 30px;
  box-sizing: border-box;
  background: #fdf2f5;
  background-size: 1px 100%;
  display: none;
  position: relative;
  padding-bottom: 0px;
}

.accordion-item:nth-child(2n) .accordion-content{background: #fae0e7;}
.accordion-title {
    display: block;
    text-align: center;
    padding:20px 0;
    background: #fdf2f5;
    cursor: pointer;
    font-size: 16px;
    color: #716558;
}
.accordion-item:nth-child(2n) .accordion-title{ background: #fae0e7;}

    .accordion-title .title-container {
        width: 300px;
        margin: auto;
        text-align: left;
    }

        .accordion-title .title-container .arrow {
            text-align: center;
        }

.accordion-left {
  width: 35%;
  float: left;
}

.accordion-right {
  float: left;
  width: 65%;
  box-sizing: border-box;
  padding: 24px 0 0px 24px;
}

.accordion-single-content {
    margin-top: 20px;
}

.accordion-left.doktor-profil {
    width: 40%;
    text-align: center;
    padding-top: 30px;
}

.accordion-right.doktor-profil {
    width: 60%;
    padding-top: 30px;
}

.accordion-left img.img-doktor-profil {
    width: auto;
    height: auto;
    border: 1px solid #d3dce4;
    margin: 0px auto;
}

.accordion-left img.img-proje {
    margin-bottom: 50px;
}

.accordion p {
    margin-bottom: 15px;
}

.accordion h2 {
    display: block;
    text-align: center;
    padding-bottom: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #716558

    }

.accordion h3 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}

.accordion h5 {
    font-size: 15px;
    font-weight: 500;
    color: #364f60;
    margin-top: 10px;
}

.accordion-left img {
    width: 100%;
    height: auto;
}

.accordion ul {
    margin-top: 16px;
}

.accordion li {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 10px;
}

.breadcrumb2 {
  background: #4D0217;
  color: #d3dce4;
  font-size: 12px;
  width: 960px;
  line-height: 25px;
  margin: auto;
}
.breadcrumb2 a {
  color: #f2f2f2;
  text-transform: capitalize;
  padding-left: 11px;
}
.profile-section {
  background-color: #fdf2f5;
  display: block;
  height: 237px;
  width: 100%;

}
.profile-sec-head {}
.doktor-img {
  display: block;
  float: left;
  margin-left: 15px;
  position: relative;
  top: 38px;
  width: 18%;
}
.doktor-img img {
    display: block;
    width: 100%;
}

.doctor-desc {
    display: block;
    float: left;
    margin-top: 15px;
    width: 80%;
}


.doctor-desc h1 {
  float: left;
  font-size: 23px;
  margin-top: 24px;
  padding-left: 40px;
  text-transform: capitalize;
  width: 100%;
}

.doctor-desc h2 {
  display: block;
  float: left;
  font-size: 15px;
  font-weight: 400;
  padding-left: 41px;
  text-transform: capitalize;
  width: 100%;
}

.doctor-desc p {
  display: block;
  float: left;
  font-size: 12px;
  font-weight: 300;
  margin-left: 22px;
  margin-top: 14px;
  width: 77%;
  margin-bottom: 0px;
}
.descr-section {
  background: #fdf2f5 none repeat scroll 0 0;
  display: block;
  /* height: 700px; */
  float: left;
  width: 100%;
}
.col-1 {
  float: left;
  display: block;
  width: 100%;
  padding-bottom: 20px;
}


.box-1 {
  background-color: #fae0e7;
  border-radius: 6px;
  display: block;
  float: left;
  min-height: 275px;
  margin-left: 1%;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 33%;
}

.dr-title {
    display: block;
    float: left;
    width: 100%;
	padding-bottom:10px;
}
.dr-title p {
    border-bottom: 1px solid;
    font-size: 16px;
    font-weight: 900;
    margin: auto;
    text-align: left;
    text-transform: capitalize;
    width: 86%;
}
.dr-descr {
    display: block;
    float: left;
    width: 100%;
}
.dr-descr p {
    display: block;
    font-size: 12px;
    line-height: 20px;
    margin: auto;
    width: 85%;
}
.education {
  display: block;
  float: left;
  margin-top: 20px;
  padding-top: 20px;
  width: 33%;
}

.education ul {
    display: block;
    margin: auto;
    padding-bottom: 40px;
    width: 100%;
}
.education ul li {
  margin-left: 4%;
  margin-top: 19px;
  padding-left: 10px;
  padding-right: 20px;
}
.education ul li p {
      margin-bottom: 16px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: -21px;
}
.section-line {
  width: 100%;
  height: 25px;
  background-color: #4D0217;
}
/*End of Accordion*/
/*-------TIBBİ HİZMETLER----------
--------------------------------*/

.sub-container {
  width: 900px;
  display: block;
  margin: auto;
  display: block;
  background-color: #FAE0E7;
}
.med-title {
  float: left;
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 7px;
  border-bottom: 1px solid #90032B;
}
.med-title h2 {
  font-size: 18px;
  text-transform: capitalize;
  color: #90032B;
}
.list-container {
  width: 80%;
  margin: auto;
  display: block;
}
.left-col {
  float: left;
  display: block;
  width: 100%;
}
/*.right-col {
	float: left;
  display: block;
  width: 40%;
  margin-left:10%;
}*/
.med-list {
  float: left;
  display: block;
  width: 40%;
  margin-top: 20px;
  margin-left:5%;
}
.med-list li {
  /* display: block; */
  list-style: square;
  margin-left: 8%;
}
.med-list .span {
  text-transform: uppercase;
  color: #90032B;
  font-weight: 900;
  font-size: 16px;
  padding-bottom: 10px;

  margin-left:0;
  display:block;
}
.med-list li a {
  text-transform: capitalize;
  display: block;
}
/*-------TIBBİ HİZMETLER DETAY----------
-------------------------------------*/
.detay-section {
  background-color: #fdf2f5;
  display: block;
  float: left;
  width: 100%;
  padding-bottom: 50px;
}

.sekmeAlani {
  display: block;
  float: left;
  width: 100%;
}
.sekmeler {
  float: left;
  display: none;
  width: 18%;
  margin-top: 11.5vh;
  margin-right: 2%;
}
.sekmeler li {
  display: block;
  line-height: 46px;
}
.sekmeler .sekmeSecili {
	background-color:#90032B;
	
}
.sekmeler .sekmeSecili a {
	color:#fff;
}
.sekmeler li a {
  display: block;
  padding-left: 5%;
  color: #716558;
}
.sekmeler li .s1, .s2, .s3, .s4, .s5, .s6 {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 600;
  display: block;
}
#opener-part {
  margin: auto;
  display: block;
  width: 90%;
}
.s1, .s2, .s3, .s4, .s5, .s6 {}
.sekmeAlani .top-part {
  float: left;
  display: block;
  width: 100%;
  background-color: #90032B;
  margin-top: 25px;
}
.sekmeAlani .top-part h1 {
  margin-top: 20px;
  font-size: 27px;

  text-align: center;
  color: #f2f2f2;
  font-weight: 600;
}
.sekmeAlani .detay-part {
  float: left;
  display: block;
  background-color: #fff;
  margin-top: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.sekmeAlani .desc-part {
  display: block;
  float: left;
  width: 61%;
  padding-left: 20px;
  margin-top: 20px;
}
.sekmeAlani .desc-part p {
  font-size: 13px;
  font-weight: 300;
  text-transform: none;
  width: 94%;
}
.sekmeAlani .images-part {
  float: left;
  display: block;
  width: 20%;
  margin-top: 20px;
}
.sekmeAlani .images-part img {
  width: 231px;
}

/*tıbbi-hizmetlerimiz-END*/
/*E-SONUC*/

.e-sonuc-form {}
.form-container {}
.e-result {
  width: 100%;
  display: block;
  float: left;
}
.e-result li {
  display: block;
  float: left;
  width: 15%;
  padding: 20px;
}
.e-result .form-width {}
.e-result .form-width select {
  height: 35px;
  width: 165px;
  border-radius: 3px;
  border-color: #6C001F;
  padding-left: 10px;
    background-color: #fff;
}
.e-result .form-width select option {}
.form-text-label {}
.form-input {
  height: 30px;
  width: 170px;
  border-radius: 3px;
  border: 1px solid #6C001F;
  padding-left: 10px;
  background-color: #fff;
}
.form-send {
  margin-top: 19px;
  background-color: #6C001F;
  border: none;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 16px;
  line-height: 24px;
  border-radius: 3px;
  cursor:pointer;
}



/*E-SONUC END*/
/*HABERLER*/
.accordion-item.news {
  float: left;
  width: 100%;
}
.accordion-item.news .accordion-title {
  float: left;
  padding-top: 20px;
  padding-bottom: 0px;
  width: 100%;
}
.accordion-item.news .accordion-content {
  float: left;
  width: 100%;
}
.news-pic {
  float: left;
  width: 33%;
  margin-left: 30px;
}
.news-pic img {
  width: 100%;
  margin-top: 11px;
}
.news-summary {
  text-align: left;
  padding-top: 20px;
  float: left;
  width: 63%;
}
.news-summary p {
  padding-left: 20px;
}
.news-date {}
.news-date p {
  float: right;
  margin-right: 46px;
}
.acc-wrapper {
  display: block;
  width: 100%;
  padding-bottom: 0px;
}
.news-pic-big {
  float: left;
  display: block;
}
.news-pic-big img {}
.news-desc {
  text-align: left;
  padding-top: 6px;
  float: left;
  width: 100%;
}
.news-desc p {
  padding-left: 20px;
  line-height: 26px;
}
.news-summ {
  float: left;
  padding-left: 0px !important;
  margin-top: 18px;
  font-size: 14px;
  padding-right: 20px;
}
/*HABERLER END*/
/*ETKİNLİKLER*/
.etkinlik {}
.etkinlik.pink {
  background-color: #FAE0E7;
  float: left;
  display: block;
  width: 100%;
}
.etkinlik.white {
  float: left;
  display: block;
  width: 100%;
}
.etkinlik-title {
  margin: 20px auto;
  display: block;
  width: 95%;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
}
.etkinlik-title p {
  font-weight: 600;
  font-size: 16px;
  border-bottom: 1px solid #716558;
  padding-bottom: 10px;
}
.etkinlik-desc {
  float: left;
  display: block;
  /* width: 100%; */
  padding-right: 20px;
  padding-left: 20px;

}
.etkinlik-desc p {
    text-align:left !important;
}
.etkinlik-image {
  float: left;
  display: block;
  width: 100%;
  padding-bottom: 15px;
}
.etkinlik-image img {
    margin: 45px auto;
    display: block;
    border-radius: 5px;
    width: 50%;
}
.page-wrapper {
  background-color: #FDF2F5;
  float: left;
  display: block;
  width: 100%;
}
.etkinlik-date {
  border-bottom: none !important;
  float: right;
  margin-top: -20px;
  font-size: 13px !important;
}
.etkinlik-date p {
    text-align:right;
    padding-right:25px;
    padding-bottom:20px;
}
/*ETKİNLİKLER END*/

/*HABERLER DETAY*/
.col-22 {}
.col-22 .news {}
.col-22 .news li {}
.col-22 .news li a {}
.col-22 .news li a .news-title {}
.col-22 .news li a .news-desc {}
.col-22 .news li a .news-date {}
.col-22 .news li a .news-date span {}
/*HABERLER DETAY END*/
/*Yönetim Kurulu*/
.tbl-yonetim-kurulu {
    text-align: center;
    width: 60%;
    margin: auto;
    color: #364f60;
}

    .tbl-yonetim-kurulu th {
        font-weight: bold;
    }

.list-type1, .list-type2 {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 10px;
}

.spacer {
    height: 30px;
}
/*Sanal Tur*/
.img-sanal-tur {
    width: 90%;
    display: block;
    margin: 20px auto;
    padding-bottom: 20px;
}
/*Mükemmmeliyet*/
.ico-mukemmeliyet {
    vertical-align: middle;
    margin-right: 7px;
    margin-bottom: 10px;
}
/*Basında VM MEDICAL*/
.basin-description {
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    bottom: -53px;
    width: calc(100% - 8px);
    height: 60px;
    background: #EEE4E7;
}
.basin-description h5 {
    font-size: 14px;
    color: #4D0217;
}

.basin-description p {
    font-size: 13px;
    color: #364f60;
    padding: 0;
}

.basin-description span {
    position: absolute;
    bottom: 0px;
    right: 5px;
    color: #6D001F;
    font-size: 11px;
}
.basin-item {
    margin: 0 4% 10% 0 !important;
}

    .basin-item:nth-child(odd) {
        margin-right: 0 !important;
    }
/*Etkinlikler*/
.etkinlik-item {
    background: #e8edf3;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZWRmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjN2QyZGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #e8edf3 0%, #c7d2dc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8edf3), color-stop(100%, #c7d2dc));
    background: -webkit-linear-gradient(top, #e8edf3 0%, #c7d2dc 100%);
    background: -o-linear-gradient(top, #e8edf3 0%, #c7d2dc 100%);
    background: -ms-linear-gradient(top, #e8edf3 0%, #c7d2dc 100%);
    background: linear-gradient(to bottom, #e8edf3 0%, #c7d2dc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8edf3', endColorstr='#c7d2dc', GradientType=0);
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}

    .etkinlik-item h1 {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .etkinlik-item p {
        max-width: 90%;
    }

    .etkinlik-item span {
        position: absolute;
        top: 30px;
        right: 20px;
    }
/*Hasta Hikayeleri*/
.hasta-hikayeleri-btn-container {
    width: 100%;
    text-align: right;
    margin-top: 50px;
}

span.date {
    position: absolute;
    top: 50px;
    right: 30px;
}
/*Mikrositelerimiz*/
.mikrosite-item, .item-section {
    background: #e8edf3;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZWRmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjN2QyZGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #e8edf3 0%, #c7d2dc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8edf3), color-stop(100%, #c7d2dc));
    background: -webkit-linear-gradient(top, #e8edf3 0%, #c7d2dc 100%);
    background: -o-linear-gradient(top, #e8edf3 0%, #c7d2dc 100%);
    background: -ms-linear-gradient(top, #e8edf3 0%, #c7d2dc 100%);
    background: linear-gradient(to bottom, #e8edf3 0%, #c7d2dc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8edf3', endColorstr='#c7d2dc', GradientType=0);
    box-sizing: border-box;
    position: relative;
}

.mikosite-left {
    float: left;
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
}

.mikosite-right {
    float: left;
    width: 70%;
    padding: 20px 60px;
    box-sizing: border-box;
}

    .mikosite-right h1 {
        font-size: 18px;
        margin-bottom: 20px;
    }
/*Haberler*/
.news-content {
    display: block;
}
.news-content.pink {
	background:#FAE0E7;
}
.news-content h2 {
  display: none;
  text-align: left;
  padding-bottom: 18px;
  border-bottom: 1px solid #91786B;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  font-weight: 600;
  padding-left: 38%;
}
    .news-content .summary {
    }

        .news-content .summary h3 {
            font-size: 18px;
            margin-top: -30px;
            margin-bottom: 16px;
        }

    .news-content .date {
        transition: .3s;
        top: 200px;
    }

.date-collapsed {
  top: 50px !important;
  /* left: 38.3%; */
  width: 123px;
  text-align: right;
}
.news-content .rest {
  display: none;
  padding-bottom: 40px;
}

.news-trg-container {
  text-align: center;
  margin-top: 60px;
  cursor: pointer;
}
/*Medya*/
/*.medya-description {
    width: 100%;
}*/
.sub-page-sub-nav.medya a {
    width: 19%;
    text-align: center;
    display: inline-block;
}

.sub-page-sub-nav.four a {
    width: 24%;
    text-align: center;
    display: inline-block;
}

.list-type1 li {
    margin-bottom: 18px;
}

.list-type2 li {
    margin-bottom: 0px !important;
}

.ul-ozel-sigortalar {
    margin: 100px 0 30px 20px;
    display: block;
}

.h3-doktor-ad {
    color: #0080bc;
    font-size: 18px;
    margin-top: 0 !important;
}

.h5-doktor-bolum {
    font-size: 14px;
    font-weight: 500;
    margin: 20px 0 46px 0;
}

.h3-proje {
    margin-bottom: 20px;
}

.gallery-item {
    float: left;
    width: 46%;
    height: auto;
    margin: 0 0 4% 0;
    position: relative;
    margin: 1% 2%;
}

    .gallery-item:nth-child(odd) {
        margin-right: 0;
        text-align: right;
    }

.gallery-items:before, .gallery-items:after {
    content: " ";
    display: table;
}

.gallery-items:after {
    clear: both;
}

.gallery-items li {
    float: left;
    width: 48%;
    margin: 0 0 4% 4%;
}

    .gallery-items li iframe {
        display: block;
    }

    .gallery-items li .item-photo img {
        max-width: 100%;
        width: 100%;
        height: auto;
        display: block;
    }

    .gallery-items li:nth-child(2n+1) {
        margin-left: 0;
    }

.gallery-items .description {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    background: #EEE4E7;
    border: 1px solid #EEE4E7;
}

.gallery-items .basin-description h5 {
    font-size: 14px;
}

.gallery-items .basin-description p {
    font-size: 13px;
    color: #364f60;
}

.gallery-items .basin-description span {
    position: absolute;
    bottom: 0px;
    right: 5px;
    color: #364f60;
    font-size: 10px;
}

.filters {
    background: #90032b;
    padding: 15px 20px;
}

.filters-select .itext {
    border: solid 1px #c5d0db;
    background-color: #fae0e7;
    padding: 16px 10px 10px 10px;
    border-radius: 5px;
    font-size: 13px;
    color: #364f60;
    width: 228px;
}

.filters-select {
    margin-bottom: 20px;
}

    .filters-select h4 {
        color: #ffffff;
        margin-bottom: 10px;
        font-weight: 400;
    }

    .filters-select li {
        float: left;
        margin-left: 5px;
    }

    .filters-select .customSelect {
        width: 190px;
    }

    .filters-select .customSelectInner {
        width: 190px !important;
        height: 20px;
        background-position: 100% 50%;
        
    }

    .filters-select .btn-search {
        margin: 10px;
    }

    .filters-select li:first-child {
        margin-left: 0px;
    }

    .filters-select:before, .filters-select:after {
        content: " ";
        display: table;
    }

    .filters-select:after {
        clear: both;
    }

.filters-alphabetic {
    padding-bottom: 25px;
}

    .filters-alphabetic h5 {
        color: #fff;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 10px;
    }

    .filters-alphabetic li {
        float: left;
        margin-left: 1px;
    }

        .filters-alphabetic li a {
            display: block;
            color: #90032b;
            background-color: #fdf2f5;
            font-size: 18.5px;
            font-weight: 300;
            padding: 10px 8px;
        }

.sub-content .filters-alphabetic li a {
    display: block;
    color: #364f60;
    background-color: #e2e7ee;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 8px;
}

.filters-alphabetic li a:hover {
    background-color: #c7ccd2;
}

.filters-alphabetic:before, .filters-alphabetic:after {
    content: " ";
    display: table;
}

.filters-alphabetic:after {
    clear: both;
}

select.select-alt {
    height: 50px !important;
}

.customSelect.select-alt {
    width: 283px;
    padding: 18px 10px 0px;
    background: #fae0e7;
}

.select-alt .customSelectInner {
    height: 20px;
    background-position: 100% 100%;
    background: url("../img/site/btn-select2.png") no-repeat 100% 100%;
    width: 100% !important;
}

.filters-select .select-alt .customSelectInner {
    width: 283px !important;
}

.doktor-list > li {
    background-color: #fae0e7;
    height: 146px;
    clear: both;
}

.doktor-list li .photo {
  float: left;
  width: 175px;
  overflow: hidden;
  margin-right: 10px;
}

   .doktor-list li .photo img {
  display: block;
  width: 175px;
  margin: auto;
}

.doktor-list li .doktor-info {
  float: left;
  width: 366px;
  padding-top: 51px;
  overflow: hidden;
  padding-left: 51px;
  padding-right: 35px;
}

.doktor-list li .uzmanlik {
    float: left;
    width: 210px;
    padding-top: 27px;
    overflow: hidden;
    padding-right: 20px;
}

    .doktor-list li .uzmanlik li {
        color: #364f60;
        font-size: 13px;
    }

.doktor-list li .links {
    float: left;
    width: 300px;
    padding-top: 50px;
    overflow: hidden;
}

.doktor-list li .doktor-info h5 {
    font-size: 18px;
    color: #716558;
    font-weight: 400;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.doktor-list li .doktor-info h6 {
    font-size: 12px;
    color: #716558;
    font-weight: 400;
}

.doktor-list > li:nth-child(odd) {
    background-color: #fdf2f5;
}

.doktor-list > li:nth-child(odd) .btn.btn-default{background: #edc1cd;color:#90032b;}


select.customSelect {
    width: 100%;
    font-weight: 300;
}

select.customselect {
    cursor: pointer;
    height: 40px !important;
}

span.customSelect {
    font-size: 13px;
    color: #364f60;
    border: solid 1px #e1e1e1;
    background: #fff;
    padding: 10px 10px 6px;
    border-radius: 5px;
}

    span.customSelect.changed {
        background-color: #f9f9f9;
    }

.customSelectInner {
    background: url("../img/site/btn-select.png") no-repeat 100% 0;
    width: 13px;
    height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-detail:before, .item-detail:after {
    content: " ";
    display: table;
}

.item-detail:after {
    clear: both;
}

.item-detail .photo {
    float: left;
    width: 437px;
    height: 280px;
    overflow: hidden;
    margin-bottom: 30px;
}

.item-detail .item-info {
    margin-left: 470px;
}

    .item-detail .item-info h3 {
        margin-bottom: 30px;
        color: #364f60;
    }

    .item-detail .item-info dl {
        color: #364f60;
        font-size: 16px;
        margin-bottom: 20px;
    }

        .item-detail .item-info dl dd {
            display: inline-block;
        }

        .item-detail .item-info dl dt {
            display: inline-block;
            width: 145px;
            height: 20px;
        }

.item-detail .tab {
    clear: both;
}

    .item-detail .tab li {
        float: left;
        width: 50%;
    }

.item-detail .fiveitem li {
    float: left;
    width: 20%;
}

.item-detail .tab li a {
    display: block;
    color: #4d0217;
    font-size: 17px;
    font-weight: 500;
    padding: 17px 25px;
    border: solid 1px #4d0217;
    background: #fff
}

    .item-detail .tab li a:hover {

    }

    .item-detail .tab li a.select {
        background: #fff;
        border-bottom: solid 1px #fff;
    }

.item-detail .tabcontainer {
    background-color: #fff;
    padding: 35px 25px 0;
    border: solid 1px #4d0217;
    clear: both;
    border-top: none;
    position: relative;
}

    .item-detail .tabcontainer:before, .item-detail .tabcontainer:after {
        content: " ";
        display: table;
    }

    .item-detail .tabcontainer:after {
        clear: both;
    }

    .item-detail .tabcontainer .tabcontent {
        display: none;
    }

        .item-detail .tabcontainer .tabcontent.select {
            display: block;
        }

            .item-detail .tabcontainer .tabcontent.select .btn-type2 {
                margin-right: 26px;
            }

    .item-detail .tabcontainer .message-list {
        clear: both;
        padding-top: 25px;
    }

        .item-detail .tabcontainer .message-list h5 {
            color: #0080bc;
            margin-bottom: 18px;
        }

        .item-detail .tabcontainer .message-list li {
            margin-bottom: 25px;
            clear: both;
        }

            .item-detail .tabcontainer .message-list li:before, .item-detail .tabcontainer .message-list li:after {
                content: " ";
                display: table;
            }

            .item-detail .tabcontainer .message-list li:after {
                clear: both;
            }

            .item-detail .tabcontainer .message-list li .name {
                float: left;
                border: solid 1px #c5d0db;
                background-color: #5a7e96;
                text-align: center;
                width: 93px;
                height: 80px;
                margin-right: 15px;
                color: #fff;
                font-size: 18px;
                font-weight: 500;
                padding: 35px 10px 0;
            }

            .item-detail .tabcontainer .message-list li .message {
                border: solid 1px #c5d0db;
                background-color: #fff;
                padding: 35px 20px;
                min-height: 45px;
                font-size: 15px;
                color: #364f60;
                margin-left: 130px;
            }

                .item-detail .tabcontainer .message-list li .message .body {
                    margin-right: 110px;
                    font-size: 15px;
                }

                .item-detail .tabcontainer .message-list li .message .date {
                    float: right;
                    font-size: 13px;
                    width: 80px;
                }

.item-detail .form-group .itext {
    width: 240px;
}

.form-group textarea.itext {
    width: 78% !important;
    height: 80px;
    resize: none;
}

.ico-btn-share {
    background: url("../img/site/ico-share-btn.png") no-repeat;
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 12px;
}

.ico-btn-msg {
    background: url("../img/site/ico-msg-btn.png") no-repeat;
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 12px;
}

.item-detail .tabcontent .btn-type2 {
    float: right;
    padding: 11px 50px;
}

.btn-type2 {
    cursor: pointer;
    padding: 11px 15px;
    background: #716558;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}
/*
    .btn-type2:hover {
        background: #075280;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA3NTI4MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYTZlOWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, #075280 0%, #0a6e9d 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #075280), color-stop(100%, #0a6e9d));
        background: -webkit-linear-gradient(top, #075280 0%, #0a6e9d 100%);
        background: -o-linear-gradient(top, #075280 0%, #0a6e9d 100%);
        background: -ms-linear-gradient(top, #075280 0%, #0a6e9d 100%);
        background: linear-gradient(to bottom, #075280 0%, #0a6e9d 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#075280', endColorstr='#0a6e9d', GradientType=0);
    }*/

.page-header {
    font-size: 16px;
    font-weight: 400;
    color: #706457;
    margin-bottom: 10px;
    text-align: left;
}

.sub-content p {
    margin-bottom: 16px;
    padding: 0;
}

.take-pwdr:before, .take-pwd:after {
    content: " ";
    display: table;
}

.take-pwd:after {
    clear: both;
}

.take-pwd li {
    float: left;
    margin-left: 5px;
}

.take-pwd .customSelect {
    width: 190px;
}

.take-pwd .customSelectInner {
    width: 190px !important;
    height: 20px;
    background-position: 100% 50%;
    
}

.take-pwd .btn-search {
    margin: 10px;
}

.take-pwd .itext {
    border: solid 1px #c5d0db;
    background-color: #fff;
    padding: 20px 10px 6px;
    border-radius: 5px;
    font-size: 13px;
    color: #364f60;
    width: 228px;
}

.fright {
    float: right;
}

.page-header {
    font-size: 16px;
    font-weight: 400;
}
.form {margin-top:25px;}

.form .column {
    width: 50%;
    float: left;
}

.form .btn-type2.fright {
    margin-right: 20px;
}

.form h6 {
    color: #716558;
}

.form-group {
    margin-bottom: 18px;
}

    .form-group:before, .form-group:after {
        content: " ";
        display: table;
    }

    .form-group:after {
        clear: both;
    }

    .form-group .input-label {
        display: block;
        float: left;
        width: 130px;
        font-size: 13px;
        font-weight: 400;
        color: #716558;
        padding-top: 15px;
    }

        .form-group .input-label.alt {
            padding-top: 0;
        }

    .form-group .formlabel {
        display: inline-block;
        padding-top: 15px;
    }

    .form-group .itext {
        float: left;
        border: solid 1px #c5d0db;
        background-color: #fff;
        padding: 15px;
        border-radius: 5px;
        font-size: 13px;
        color: #364f60;
        width: 270px;
        outline: none;
    }

    .form-group .customSelectInner {
        width: 270px !important;
    }
    .red-border{border:1px solid #4c0216}

.filters-select .customSelect.small, .filters-select .small .customSelectInner,
#frmRegister .customSelect.small, #frmRegister .small .customSelectInner {
    width: 77px !important;
}

.filters-select .customSelect.med, .filters-select .med .customSelectInner {
    width: 185px !important;
}

.align-center {
    text-align: center;
}

.error input {
    -webkit-box-shadow: 0 0 10px #f00;
    box-shadow: 0 0 10px #f00;
}

form #ajaxresult {
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: solid 1px #c9d4e0;
}

.list-type4:before, .list-type4:after {
    content: " ";
    display: table;
}

.list-type4:after {
    clear: both;
}

.list-type4 li {
    margin: 10px;
    float: left;
}

    .list-type4 li:hover {
        transform: scale(1.1);
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    }

.list-type4 .photo {
    width: 205px;
    height: 146px;
    overflow: hidden;
}

.list-type4 .info {
    background: #fdfdfe;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOWVlZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #fdfdfe 0%, #e9eef3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfe), color-stop(100%, #e9eef3));
    background: -webkit-linear-gradient(top, #fdfdfe 0%, #e9eef3 100%);
    background: -o-linear-gradient(top, #fdfdfe 0%, #e9eef3 100%);
    background: -ms-linear-gradient(top, #fdfdfe 0%, #e9eef3 100%);
    background: linear-gradient(to bottom, #fdfdfe 0%, #e9eef3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfe', endColorstr='#e9eef3', GradientType=0);
    padding: 12px 17px;
    width: 171px;
    height: 40px;
    border: solid 1px #bdcad6;
    overflow: hidden;
    color: #364f60;
}

    .list-type4 .info h6 {
        font-size: 12px;
    }

    .list-type4 .info .birth {
        text-align: right;
        font-size: 10px;
        line-height: 100%;
    }

.pagination {
    text-align: right;
    padding: 10px;
    background-color: #716558;
}

    .pagination li {
        display: inline-block;
        border-left: solid 1px #7f8b94;
        padding: 0 14px;
    }

        .pagination li:first-child {
            border: none;
        }

        .pagination li a {
            font-size: 16px;
            color: #364f60;
        }

            .pagination li a.selected {
                font-weight: bold;
            }

.addr-info li {
  list-style: none;
  width: 19%;
  float: left;
  border-left: solid 1px #c7d2df;
  padding: 3px 0 0 10px;
  min-height: 70px;
  margin-bottom: 50px;
  margin-left: 85px;
  text-align: center;
}

    .addr-info li:first-child {
        border: none;
        padding-left: 0;
    }

    .addr-info li h5 {
        margin-bottom: 15px;
    }

.addr-info .btn {
    line-height: 100%;
    color: #5a7e96;
    display: block;
}

.ico-contact {
    float: left;
    margin-right: 5px;
    width: 31px;
    height: 31px;
    background: url("../img/site/ico-contact.png") no-repeat;
}

.table1 {
    width: 100%;
}

    .table1 td, .table1 th {
        border: solid 1px #d7dfe6;
        vertical-align: middle;
    }

    .table1 .header {
        background-color: #706457;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        padding: 18px;
        text-align: center;
        display: block;
    }

    .table1 tbody td {
        background-color: #f5f6f7;
        color: #364f5f;
        font-size: 12px;
        padding: 20px 0;
        text-align: center;
    }

    .table1 .sonuc {
        background-color: #4abdf5;
        color: #fff;
        font-weight: bold;
        padding: 20px 10px;
    }

    .table1 .null {
        background-color: transparent;
        border: none;
    }

#widget {
    width: 915px;
    /* height: 190px; */
    left: 50% !important;
    margin-left: -458px;
    top: 610px;
    z-index: 1000;
    position: absolute;
}

    #widget select {
        height: 47px !important;
    }

    #widget .tabs {

    }

        #widget .tabs li {
            width: 33.33%;
            text-align: center;
            float:left
        }

            #widget .tabs li a {
                display: block;
                color: #ffffff;
                font-size: 18px;
                padding-right: 10px;
                padding-top: 22px;
                height: 40px;
                cursor: pointer;
            }


                #widget .tabs li a.tab1 {
                    background-color: #5e001b;
                }

                #widget .tabs li a.tab2 {
                    background-color: #7a0124;
                }

                #widget .tabs li a.tab3 {
                    background-color: #8f022a;
                }

            #widget .tabs li:last-child {
                border-bottom: none;
            }

#widget .tabcontainers {
    position: absolute;
    bottom: 60px;
    width: 99.9%;
}
#tab2 {
    width: 96.8%;
    margin: 0 auto;
}
#tab3 {
    width: 96.8%;
    margin: 0 auto;
    display: block;
}
        

        #widget .tabcontainers .tabcontent {
            display: none;
            background-color: #90032b;
            /*width: 670px;
            height: 160px;*/
			padding:15px
        }

            #widget .tabcontainers .tabcontent.select {
                display: block;
            }

    #widget .customSelect, #widget .customSelectInner {
        width: 150px !important;
    }

        #widget .customSelect.small, #widget .small .customSelectInner {
            width: 129px !important;
        }

#widget .filters-select {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 10px;
    color: #fff;
    width: 75%;
    margin: auto;
}
#widget .filters-select.middle {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 10px;
    color: #fff;
    width: 62%;
    margin: auto;
}

        #widget .filters-select a {
            width: 45px;
            color: #55d1f6;
        }

            #widget .filters-select a:hover {
                background-color: #55d1f6;
            }

    #widget .filters-alphabetic li a {
        display: block;
        width: 24px;
        margin-bottom: 1px;
        text-align: center;
        background: #fff;
    }

        #widget .filters-alphabetic li a:hover {
            background-color: #fdf2f5;
        }

    #widget .btn-type2 {
        padding: 14px 15px;
    }

.rimg {
    background: url("../img/site/randevu-icons.png") no-repeat;
    margin-right: 10px;
    float: left;
    margin-top: -3px;
}

    .rimg.ico1 {
        background-position: 0 0;
        width: 24px;
        height: 24px;
    }

    .rimg.ico2 {
        background-position: 0 -27px;
        width: 28px;
        height: 22px;
    }

    .rimg.ico3 {
        background-position: 0 -58px;
        width: 23px;
        height: 31px;
    }

    .rimg.ico4 {
        background-position: 0 -96px;
        width: 25px;
        height: 26px;
    }

    .rimg.ico5 {
        background-position: 0 -130px;
        width: 28px;
        height: 28px;
    }

    .rimg.ico-printer {
        background-position: 0 -184px;
        width: 24px;
        height: 24px;
    }
    .rimg.ico-mail {
        background:url(../img/site/ico-mail.png) no-repeat 0 0;
        width: 24px;
        height: 24px;
    }

    .rimg.ico-save {
        background-position: 0 -162px;
        width: 20px;
        height: 20px;
    }

.item-detail .fiveitem li a {
    font-size: 15px;
    padding-top: 20px;
    padding-left: 20px;
}

.tabcontainer.wide {
    min-height: 355px;
    padding-bottom: 35px;
    margin-bottom: 20px;
}

.notes {
    font-size: 12px;
    color: #364f60;
    font-weight: 300;
}

.randevu-bilgileri dl {
    margin-bottom: 10px;
}

.randevu-bilgileri dt {
    display: inline-block;
    width: 175px;
    font-weight: 300;
}

.randevu-bilgileri dd {
    display: inline-block;
    width: 180px;
    font-weight: 500;
}

.item-detail .customSelect, .item-detail .customSelectInner {
    width: 150px !important;
}

.item-detail .tabcontent.select .customSelect, .item-detail .tabcontent.select .customSelectInner {
    width: 250px !important;
}

.calendar {
    position: relative;
}

    .calendar .tablescroll {
        height: 200px;
        overflow: auto;
    }

    .calendar .arrow-left {
        position: absolute;
        z-index: 100;
        background-position: 0 -207px;
        width: 8px;
        height: 13px;
        left: 10px;
        top: 20px;
    }

    .calendar .arrow-right {
        position: absolute;
        z-index: 100;
        background-position: -11px -207px;
        width: 8px;
        height: 13px;
        top: 20px;
        right: 10px;
    }

.table2 {
    width: 100%;
    border: solid 1px #dfbbc5;
    position: relative;
}

    .table2 th, .table2 td {
        background-color: #fae0e7;
        border-bottom: solid 1px #dfbbc5;
        color: #364f60;
        font-size: 13px;
        text-align: center;
        padding: 6px 0;
        width: 14.285%;
    }

        .table2 td.selected {
            background-color: #0080bc;
            color: #fff;
            font-weight: 500;
        }

        .table2 th .day {
            font-size: 14px;
        }

        .table2 th .date {
            font-size: 11px;
        }
.video-full{  width:950px; height:540px}

/*---------------MICRO SITE----------*/
.micro-site {
    float: left;
    display: block;
    width: 100%;
    background: #FDF2F5;
}
.micro-list {
    float: left;
    display: block;
    width: 100%;
}
.micro-list li {
    float: left;
    display: block;
    width: 100%;
    /* margin-top: 10px; */
}
.micro-list .bg-pink {
    background: #FAE0E7;
}
.micro-list li a {
    float: left;
    display: block;
    width: 300px;
    height: 190px;
    padding: 10px;
}
.micro-list li p {
    float: left;
    display: block;
    padding: 20px;
    font-size: 20px;
}
/*---------------MICRO SITE----------*/
/*---------------BASINDA MEDICAL----------*/
.basin-menu {
    float: left;
    display: block;
    width: 100%;
    background: #716558;
}
.basin-menu ul {
    float: left;
    display: block;
    width: 100%;
}
.basin-menu ul li {
    display: inline-block;
    width: 49%;
    text-align: center;
    line-height: 36px;
    /* border-right: 1px solid #f2f2f2; */
}
.basin-menu ul li a {
    /* display: block; */
    /* padding: 20px; */
    color: #f2f2f2;
    font-weight: 200;
    font-size: 14px;
}
.basin-menu ul li .yazili-basin {}
.basin-menu ul li .gorsel-basin {}
.basinda-medical {
    background: #FDF2F5;
    float: left;
    display: block;
    width: 100%;
}
.basin {
    float: left;
    display: block;
    width: 100%;
    padding-bottom: 27px;
}
.basin li {
    display: inline-block;
    width: 46%;
    margin-left: 2.5%;
    margin-top: 15px;
    box-sizing: border-box;
}
.basin li a {
    display: block;
    width: 100%;
    margin: 0;
}
.basin li .title {
    display: block;
    float: left;
    width: 100%;

    font-size: 20px;
    font-weight: 600;
    letter-spacing: -1px;

}
.basin li .galeri-desc {
    float: left;
    display: block;
    width: 100%;
    margin-top: 10px;
}
.basin li a img {
    display: block;
    width: 100%;
    /* border: 1px solid #000; */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.desc-part {
     background: #FAE0E7;
     float:left;
     display:block;
     padding: 10px;
     border-bottom-left-radius: 4px;
     border-bottom-right-radius: 4px;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.19);
}
.video-half {
    float: left;
    display: block;
    width: 100%;
    height: 247px;
}




/*---------------BASINDA MEDICAL----------*/


/*---------------HASTA HAK VE POLİTİKALAR----------*/
.hasta-hak-menu {
    float: left;
    display: block;
    width: 100%;
    background: #716558;
}
.hasta-hak-menu ul {
    margin: auto;
    display: block;
    width: 762px;
}
.hasta-hak-menu ul li {
    display: inline-block;
}
.hasta-hak-menu ul li a {
    display: block;
    padding-left: 20px;
    color: #f2f2f2;
    font-weight: 200;
    font-size: 14px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rules {
    float: left;
    display: block;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 80px;
    padding-bottom: 30px;
}
.rules li {
    float: left;
    /* display: block; */
    width: 100%;
    /* padding-left: 35px; */
    list-style: initial;
    margin-left: 35px;
    line-height: 30px;
}
.title-first {
    font: normal 15px/18px museo_sans500;
    /* font-weight: 600; */
    line-height: 40px;
    padding: 0 !important;
    margin-left: 0 !important;
    display: block;
}
.title-second {
    font: normal 15px/18px museo_sans500;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 25px;
    padding-left: 10px !important;
    margin-left: 0 !important;
    display: block;
}
.title-third {
    font: normal 15px/18px museo_sans500;
    /* font-weight: 600; */
    letter-spacing: -1px;
    line-height: 32px;
    padding-left: 20px !important;
    margin-left: 0 !important;
    display: block;
}




/*---------------HASTA HAK VE POLİTİKALAR----------*/

@media all and (max-width: 1024px) {
.bx-wrapper .bx-next {
    right: 4px;
    background: url(../img/site/slider-controls.png) no-repeat -50px 7px;
}
.bx-wrapper .bx-prev {
    left: -1px;
    background: url(../img/site/slider-controls.png) no-repeat 0 7px;
}
.blue-form.ebulten input {
        margin-left: 22px;
}
.btn.btn-type2.f-right {
        position: absolute;
    margin-top: 23px;
    margin-left: -98px;
}
.pad4050 {
    padding: 40px 32px;
}
.doctor-desc h2 {
    display: block;
    float: left;
    font-size: 15px;
    font-weight: 400;
    padding-left: 41px;
    text-transform: capitalize;
    width: 84%;
}
.doctor-desc h1 {
    float: left;
    font-size: 23px;
    margin-top: 24px;
    padding-left: 40px;
    text-transform: capitalize;
    width: 92%;
}
.home-bottom-cta-item {
    position: relative;
    float: left;
    width: 33.3%;
    color: #fff;
    height: 300px;
}
.home-bottom-cta-item:first-child {
    margin-left: 0px;
    height: 300px;
}
}
@media all and (max-width: 768px) {
    #promo {
    position: relative;
    top: -32px;
    left: 0;
    width: 100%;
    z-index: 11;
}
    .pad4050 {
    padding: 40px 14px;
}
    .sublinks li a {
    padding: 10px 9px;
    color: #ffffff;
    font-size: 14px;
    display: block;
}
    .sub-content-wide {
    float: left;
    display: block;
    width: 740px;
    background-color: #FAE0E7;
    padding-bottom: 40px;
}
    .breadcrumb2 {
    background: #4D0217;
    color: #d3dce4;
    font-size: 12px;
    width: 768px;
    line-height: 25px;
    margin: auto;
}
    .med-title {
    float: left;
    display: block;
    width: 82%;
    padding-top: 20px;
    padding-bottom: 7px;
    border-bottom: 1px solid #90032B;
}
    .left-col {
    float: left;
    display: block;
    width: 90%;
}
    .btn.btn-default {
    padding: 5px 29px;
    background: #90032B;
}
    .doktor-list li .links {
    float: left;
    width: 300px;
    padding-top: 8px;
    overflow: hidden;
    margin-left: 21px;
}
    .doctor-desc {
    display: block;
    float: left;
    margin-top: 15px;
    width: 79%;
}
    .doctor-desc h2 {
    display: block;
    float: left;
    font-size: 15px;
    font-weight: 400;
    padding-left: 41px;
    text-transform: capitalize;
    width: 90%;
}
    .doctor-desc h1 {
    float: left;
    font-size: 23px;
    margin-top: 24px;
    padding-left: 40px;
    text-transform: capitalize;
    width: 90%;
}
    .item-detail .fiveitem li a {
    font-size: 10px;
    padding-top: 20px;
    padding-left: 20px;
}

}
@media all and (max-width: 960px) {
    .home-bottom-cta-item ul {top: 60%;}
    #home-news .h1-home, .home-events .h1-home {padding-bottom: 0px; }
    .container {  width: 740px;    }
    .home-bottom-cta-item h1 {
        position: absolute;
        top: 33%;
        width: 100%;
        text-align: center;
        font-size: 30px;
        color: #fff;
        line-height: 33px;
    }
    item ul a {
        font-size: 14px;
    }
    .ebulten p {
        top: 50%;
    }

    #widget {
        width: 100%;
        /*height: 190px;*/
        left: 0;
        margin-left: 0;
        top: 410px;
        z-index: 1000;
        position: absolute;
    }
    #logo {
        width: 130px;
    }
    .home-bottom-cta-item {
        margin-left: 0px;
        width: 100%;
        float: none;
    }
    .filters-select .customSelect {
        width: 134px;
    }
    .filters-alphabetic li a {
        padding: 10px 15px;
        width: 12px;
    }
    .btn-container {
        bottom: 10px;
    }
    .home-bottom-cta-item {
        float: left;
        width: calc(100% / 3 );
    }
    .medikalteknoloji-slider .bx-viewport {
        width: 663px !important;
        margin: 0 auto;
    }
    .medikalteknoloji-slider li{width: 221px !important}
    .bx-wrapper .bx-prev {
        left: -20px;
    }
    .bx-wrapper .bx-next {
        right: -10px;
    }
    .footer-coloumn {
        float: left;
        margin-right: 32px;
        font-size: 16px;
    }
    #main-navigation li .mega-menu{left:0;margin-left: 0}

}
.med-tec {
    display:block;
    color:#fff;
}
/*------------MEMBER PROFILE--------------*/
/*------MENU-----------*/


.profile-menu {
    float: left;
    display: block;
    width: 100%;
    background: #6D001F;
    height: 40px;
}
.profile-menu ul {
    display: block;
    width: 623px;
    margin: 8px auto;
}
.profile-menu ul li {
    float: left;
    display: block;
    margin-left: 40px;
    margin-right: 40px;
}
.profile-menu ul li a {
    display: block;
    color: #fff;
    font-size: 18px;
}

/*------MENU-----------*/
.hasta-adi {
    float: left;
    display: block;
    width: 100%;
    border-bottom: 1px solid #6D001F;
}
.hasta-adi p {
    line-height: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}
.profile-info {
    float: left;
    display: block;
    width: 93%;
    /* padding-top: 72px; */
    margin-top: 30px;
    padding-left: 70px;
}
.profile-info li {
    display: inline-block;
    width: 49%;
    height: 62px;
}
.profile-info li .inf-req {
    float: left;
    display: block;
    width: 40%;
    color: #6D001F;
    font-size: 15px;
    font-weight: 500;
}
.profile-info li .inf-desc {
    float: left;
    display: block;
    color: #27030D;
    font-weight: 600;
    font-size: 15px;
}
.re-profile {
    border: solid 1px #e0e0e0;
    border-radius: 0;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 13px;
    display: inline-block;
    padding: 13px 38px;
    margin-left: 751px;
    background: #6D001F;
}

/*------------MEMBER PROFILE--------------*/

/*------------MUAYENE VE KONTROLLER--------------*/
.control-area {}
.control-title {float: left;width: 100%;padding: 20px;padding-left: 0;font-size: 17px;}
.semi-col {
    width: 10%;
    height: 38px;
    float: left;
}
.full-col {
    display: inline-block;
    width: 12%;
    overflow: hidden;
    box-sizing: border-box;
    background: #EEE4E7;
    height: 42px;
    text-align: center;
    line-height: 20px;
    height: 39px;
}
.semi-col.blue {
    background: #6D001F;
    color: #fff;
    text-align: center;
    line-height: 39px;
}
.full-col.blue {
    width: 12%;
    height: 42px;
    display: inline-block;
    background: #6D001F;
    color: #fff;
    text-align: center;
    line-height: 42px;
}
.full-col.middle {
	line-height: 37px;
}


/*------------MUAYENE VE KONTROLLER--------------*/
@media all and (max-width: 600px) {
    .container {
        width: 600px;
    }
    #main-navigation > li {
        margin-left: 0px;
    }
    #main-navigation > li > a {
        padding: 5px 3px 40px 3px;
    }
    .filters-select .customSelect {
        width: 240px;
    }
    .filters-select li{ float: none; margin-bottom: 5px}
    .filters-select .customSelectInner {
        width: 232px !important;
    }
    .filters-alphabetic {
        width: 280px;
    }
    .filters-alphabetic li a {
        padding: 5px 9px;
        width: 10px;
        text-align: center;
    }
	.home-bottom-cta-item {
		float: none;
		width: 100%;
	}

    .home-bottom-cta-item h1 {
        position: absolute;
        top: 33%;
        width: 100%;
        text-align: center;
        font-size: 34px;
        color: #fff;
        line-height: 40px;
    }
    .video-full{  width:660px; height:440px}
    .sublinks li a {
        padding: 8px 8px;
        color: #ffffff;
        font-size: 11px;
        display: block;
        line-height: 12px;
    }
    .medikalteknoloji-slider li{width: 180px !important; }
    
    .bx-wrapper .bx-prev {
        left: -14px;
    }
    .bx-wrapper .bx-next {
        right: -14px
    }

    .medikalteknoloji-slider .bx-viewport {
        width: 540px !important;
        margin: 0 auto;
        left: 10px;
    }
    .footer-coloumn{ margin-right: 22px;}

}

@media all and (max-width: 480px) {
    .sl-slider-wrapper,.home-slider {
        height: 250px!important;
        margin-bottom: 0;
    }
    .take-pwd li {
        float: none;
        margin-bottom: 20px;
    }

    .item-detail .tabcontainer .btn-type2{
        margin-right: 0!important;
    }

    .item-detail .tabcontainer .btn-back{
        float: left;
        left:0 !important;
        right:inherit!important;
    }

    .form-group .input-label{
        float: none;
        padding-top: 0;
    }
    .container {
        width: 100% !important;
        padding: 10px;
        box-sizing: border-box;
    }

    #mobile-header, #mobile-menu-container {
        display: block;
    }

    #mobile-logo {
        width: 130px;
        margin: 20px;
    }

    #btn-mobile-menu {
        position: absolute;
        top: 30px;
        right: 20px;
        transition: .3s;
    }

    #btn-mobile-menu img {
        width: 30px;
    }

    .btn-mobile-menu-opened {
        transform: rotate(90deg);
    }

    .medikalteknoloji-slider {
        width: 98%;
        margin: auto;
    }

    .bx-wrapper .bx-controls-direction a {
        top: 50%;
    }

    .medikalteknoloji-slider li{width: 94px !important; background: #fff; margin: 3px}
    .bx-wrapper .bx-prev {
        left: -36px;
    }
    .bx-wrapper .bx-next {
        right: -36px;
    }

    .medikalteknoloji-slider .bx-viewport {
        width: 300px !important;
        margin: 0 auto;
        left:0
    }

    #mobile-showcase {
        width: 100%;
        height: 40px;
        display: block;
        position: relative;
        margin-bottom: 30px;
        /*background: url('../img/content/mobile-showcase-img.jpg') no-repeat center;
        background-size: 100% auto;*/
    }

    #mobile-showcase-links {
        width: 100%;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .mobile-showcase-link-item {
        width: calc(100% / 3);
        padding: 10px;
        box-sizing: border-box;
        display: inline-block;
        float: left;
        color: #fff;
        text-align: center;
    }

    .mobile-showcase-link-item.doktor-ara {
        background-color: #5e001b;
    }

    .mobile-showcase-link-item.randevu-al {
        background-color: #7a0124;
    }

    .mobile-showcase-link-item.sonuclari-gor {
        background-color: #8f0229;
    }

    .home-top-item {
        margin-bottom: 30px;
        width: 100%;
        float: none;
    }

    #home-news {
        float: none;
        width: 92%;
        padding: 4%;
    }

    .home-news-item {
        width: 100%;
        float: none;
        margin-left: 0px;
    }

    .home-events {
        width: 92%;
        padding: 4%;
        float: none;
        margin-left: 0px;
    }

    .medikalteknoloji-slider h1 {
        font-size: 24px;
    }

    .home-bottom-cta-item ul {
        top: 66%;
    }

    .home-bottom-cta-item {
        margin-left: 0px;
        width: 100%;
        float: none;
    }

    .home-bottom-cta-item h1 {
        font-size: 32px;
    }

    .home-bottom-cta-item img {
        width: 100%;
    }

    /*  #top-header, #header, #footer,  .breadcrumb, #promo {
          display: none;
      }*/

    #top-header, #header, #footer,  .breadcrumb {
        display: none;
    }
    #widget{top:170px}
    #widget .tabs li a{font-size:14px;}

    .sub-page-title {
        height: 320px;
    }

    .sub-page-title h1 {
        font-size: 18px;
        line-height: 20px;
    }

    .accordion-left {
        width: 100%;
        float: none;
    }

    .accordion-right {
        width: 100%;
        float: none;
        padding: 10px;
    }

    .accordion-content img{
        width:100%;
    }

    .gallery-item {
        float: none;
        width: 100%;
        display: block;
    }

    .gallery-items li {
        float: none;
        width: 100%;
        margin: 10px 0;
    }

    .gallery-item img {
        width: 100%;
    }

    .basin-item {
        margin: 0 4% 30% 0 !important;
    }

    .basin-description {
        width: 100%;
        height: auto;
        bottom: -62px;
    }

    .doktor-list > li {
        height: auto;
        padding: 30px 0;
    }

    .doktor-list li > div {
        text-align: center;
        margin: auto;
        float: none !important;
    }

    .doktor-list li .photo {
        margin-right: auto;
    }

    .doktor-list li .links {
        width: auto;
        padding-top: 20px;
        overflow: hidden;
    }

    .doktor-list li .links a {
        margin-top: 10px;
    }

    .filters-select li:first-child {
        margin-left: 5px;
    }

    .filters-alphabetic li a {
        margin: 2px;
    }

    .accordion-left.doktor-profil {
        width: 100%;
    }

    .accordion-right.doktor-profil {
        width: 100%;
        padding-top: 32px;
    }

    .sub-page-sub-nav a.four-col {
        width: 100% !important;
        display: inline-block;
        background: #5a7e96;
    }

    .sub-page-sub-nav li {
        float: none;
        margin-left: 0;
        border-bottom: 1px solid #fff;
    }

    .sub-page-sub-nav.four a {
        width: 100% !important;
    }

    .sub-page-sub-nav a {
        border-bottom: 1px solid #fff;
    }

    .item-detail .item-info {
        margin-left: 0;
    }

    .item-detail .photo {
        float: none;
        width: 100%;
        height: auto;
    }

    .sub-page-sub-nav {
        height: auto;
    }

    .sub-page-sub-nav.medya a {
        width: 100%;
    }

    .gallery-items h5 {
        font-size: 12px;
    }

    .gallery-items p {
        font-size: 12px;
    }

    .item-detail .fiveitem li {
        float: none;
        width: 100%;
    }

    .radio-buttons span {
        display: block;
        margin-bottom: 20px;
    }

    .tabcontent .btn.btn-type2.btn-absolute {
        position: relative !important;
        right: 0;
        margin-top: 40px;
    }

    .tabcontainer.wide {
        min-height: auto;
    }

    .form-group .itext {
        width: auto !important;
    }

    .table1 th {
        background-color: #4abdf5;
    }

    .table1 .header {
        padding: 4px;
        font-size: 8px;
    }

    .etkinlik-item span {
        top: 20px;
    }

    .sub-page-sub-nav .left {
        background-color: #5a7e96;
    }

    .sub-page-sub-nav .right {
        background-color: #5a7e96;
    }

    .news-content .summary {
        margin-top: 50px;
    }

    .news-content .date {
        transition: .3s;
        top: 220px;
    }

    .date-collapsed {
        top: 10px !important;
    }

    span.date {
        top: 10px;
    }

    .sub-content .content-section .grid2 {
        float: none;
        width: 100%;
    }

    .sub-content .content-section img {
        width: 100%;
    }

    .sub-content .content-section .grid4 {
        margin-left: 0;
        padding: 10px;
    }

    .addr-info li {
        width: 100%;
        margin-bottom: 20px;
    }

    .mikosite-left {
        float: none;
        width: 100%;
    }

    .mikosite-left img {
        width: 100%;
    }

    .mikosite-right {
        float: none;
        width: 100%;
        padding: 20px;
    }

    .form .column {
        width: 100%;
        float: none;
    }

    .form .column input {
        width: 90%;
        float: left;
    }

    .tbl-yonetim-kurulu {
        width: 90%;
    }

    .medikalteknoloji-slider li{
        float: none;
        padding: 6px;
        height: 186px;
    }
    .medikalteknoloji-slider {
        height:auto;
        margin:0 auto;
    }
    .video-full{  width:300px; height:200px}
    .medikalteknoloji-slider h1{ padding: 10px 0}
    #widget .tabcontainers {
        position: relative;
        bottom: auto;
    }

}








.tabcontainer .tabcontent .btn-back {
    right: inherit;
    left: 51px;
}

.page-search{
	display: inline-block;
	cursor: pointer;
	position: relative;
	z-index: 2000;
}
.frmPageSearch{
	position: absolute;
	top:-100px;
	right:-5px;
	background-color: #6c001f;
	padding: 10px; width: 300px;
	text-align: left;
}
.frmPageSearch .form-group-search .btn-search{
   position: absolute;
   border:none;
top:13px;
   right: 20px;
}
.frmPageSearch .form-group-search input{
	background-color: #fff;
	width: 245px;
	border-radius: 10px;
   border:none;
   padding: 10px 40px 10px 15px;
   outline: none;
}
		
		
