body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
  margin:0;
  padding:0;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img { 
  border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-style:normal;
  font-weight:normal;
}
ol,ul {
  list-style:none;
}
caption,th {
  text-align:left;
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}
q:before,q:after {
  content:'';
}
abbr,acronym { border:0;
}
input {
  border: none;
}
img {
  display: block;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;          
  box-sizing: border-box;
}

a:active, a:focus, input, button, select, textarea
{
  outline: none;
}

::selection {
  background: #e30613; /* Safari */
  color:#fff;
}
::-moz-selection {
  background: #e30613; /* Firefox */
  color:#fff;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color:#777;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #777;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #777;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #777;
}

a {
  text-decoration: none;
}


.hidden{
  opacity: 0;
}

.visible{
  opacity: 1;
}

.relative {
  position: relative;
}

.maxCharacters {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow:hidden;
}

.clear {
  clear:both;
  float: left;
}

.hr {
  width: 100%;
  height: 1px;
  text-align: center;
  background: rgba(255,255,255, 0.1);
}

.pixelhr {
  width: 100%;
  height: 1px;
  text-align: center;
  background: #ededed;
  float: left;
  margin: 25px 0;
}

.centered {
  margin: 0 auto;
  text-align: center;
  float: left;
  width: 100%;
  height: auto;
}

.blur {
  /* Any browser which supports CSS3 */
    filter: blur(2px);

    /* Firefox */ 
    filter: url("blur.svg#gaussian_blur");

    /* Webkit */
    -webkit-filter: blur(2px);

    /* Opera */
    -o-filter: blur(2px);
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;      
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
  background-color:rgba(0,0,0, .5);
}

.left {
  float: left !important;
}

.right  {
  float: right !important;
}

.no-padding {
  padding:0;
}

video#videobg { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: transparent;
  background-size: cover;
  transition: 1s opacity;
}

body
  {
  font: 62.5%/1.5 'Titillium Web', 'Armata', 'Raleway', sans-serif;
  background: #fff;
  color: #141619;
  text-align:center;
  -webkit-font-smoothing: antialiased;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  font-weight: 300;
}


.subpage header {
  background:#fff;
}

header {
  height:105px;
  background:#f5f5f5;
}

.logo {
  width:200px;
  height:auto;
  margin-top: 35px;
  float:left;
}

.e-randevu {
  width:150px;
  height:46px;
  background:url('../_i/erandevu.png') no-repeat top left;
  display:block;
  float:right;
  margin-top: 30px;
}

.telephone {
  float:right;
  display:inline-block;
  color:#42464c;
  font-weight: 700;
  font-size: 28px;
  margin-top: 31px;
  margin-right: 15px;
}

.telephone:hover {
  color:#e30613;
  text-decoration: none;
}

nav {
  height:40px;
  background:#e30613;
  margin-bottom: 35px;
  text-align: center;
}

nav ul.nav {
    float:initial;
    margin:0 auto;
    display:inline-block;
}

nav.activeMenu {
  height:auto;
}

nav.activeMenu ul {
  width:100%;
  float:left;
}
nav.activeMenu ul li {
  width:100%;
  float:left;
}
nav.activeMenu ul li a {
  color:#fff;
}
nav.activeMenu ul li ul li a:hover {
  color:#222;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .nav>li>a:focus,
nav .active {
  background:#c70510;
}
.nav>li>a {
  color:#fff;
  font-size: 14px;
  padding:0 10px;
  font-weight: 600;
  line-height: 40px;
  text-transform: uppercase;
}

.nav>li>a:hover {
  background:#c70510;
  color:#fff;
}

.dropdown-menu>li>a {
  color:#42464c;
}

.megamenu {
  width:542px;
}

.megamenu ul {
  width:180px;
  float:left;
}

.megamenu ul li a {
  color:#42464c;
  display:block;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  padding:3px 15px;
  line-height: 22px;
}

.megamenu ul li:hover {
  background:#f9f9f9;
}

.subpage .main {
  padding:35px 0;
  text-align: left;
}

.navbar-toggle .icon-bar {
  background:#fff;
}

.navbar-toggle {
  float:right;
  margin:12px 0 0 0;
  padding:0;
}

.main {
  padding:0;
  text-align: center;
}
.main img {text-align: center;}
.hekimlogo {
  text-align: center;
  float:initial;
  margin: 30px auto;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.mainTatitim {
  text-align: center;
  color:#fff;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  margin-bottom: 30px;
}
.form-group {
  width:100%;
  height:auto;
}

.form-group label {
  font-weight: 600;
  font-size: 18px;
  display:inline-block;
  color:#fff;
  text-align: left;
}

.btn {
  font-size: 15px;
  font-weight: 600;
  color:#fff;
  padding:10px 30px;
  background:#e30613;
  border:0;
}

.subPageGorsel {
  height:163px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  background-position: center center;
}

.main h2 {
  color:#555;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 35px;
  padding: 20px 15px;
}

.main-form h2 {
  color:#555;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 35px;
  border-left: 5px solid #4bafff;
  padding: 20px 15px;
}

.modal-title {
  color:#555;
  font-size: 24px;
  font-weight: 500;
}

.pnlFormMessage {
  color:#141619;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 15px;
}


.pnlFormMessage a {
  font-weight: 400;
  color:#e30613;
}


.main p {
  color:#555;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 15px;
}

.modal-body p {
  color:#555;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 15px;
  text-align: left;
}

.modal-body ul {
  list-style:disc;
  padding:0 20px;
}
.modal-body li {
  text-align: left;
  font-size: 14px;
  font-weight: 400px;
}

.main-form {
  margin:60px 0;
}

.pnlIdentityMessage, .pnlFormMessageWrap .pnlFormMessage {
  display:none;
  width:100%;
  height:auto;
  line-height: 35px;
  margin:15px 0;
  background-color: rgba(227,6,19, .6);
  color:#fff;
  font-weight: 600;
  font-size: 13px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}

.pnlFormMessageWrap .pnlFormMessage {
  margin:15px 0;
  background-color:#e30613;
}

.tcknsorgu input {
  text-align: center;
  color:#141619;
  font-weight: 600;
}


.pnlFormContainer {
  width:100%;
  height:auto;
  overflow-x:hidden;
  padding:30px;
  background: #fff;
}

@media (max-width:991px) {
  .pnlFormContainer {
    height:auto !important;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-left-radius: 0px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
}

.pnlFormContainer label {
  width:100%;
  font-weight: 500;
  font-size: 14px;
  display:block;
  color:#141619;
  text-align: left;
}

.pnlFormContainer input, .pnlFormContainer textarea, select{
  font-weight: 400;
  font-size: 13px;
}

select {
  width:100%;
  height:34px;
  display:block;
}

.btn-clean {
  background:#444;
}

.bannerlink {
  width:100%;
  height:100%;
  display:inline-block;
}

.pnlLoading {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.pnlLoading img {
  text-align: center;
  float: initial;
  margin: 0 auto;
}



.formSlider {
  height: 575px;
  margin-bottom: 0!important;
}
  .formSliderBody {
    height: 575px;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  }
  .formSliderContent {
    width: 100%;
    height: 160px;
    display: block;
    background: url(../images/sliderBTleft.png) center top no-repeat;
    background-size: 642px 140px;
    margin-top: 300px;
    padding-top: 28px;
  }
    .formSliderBodyTitle {
      font-size: 28px;
      line-height: 34px;
      font-weight: 200;
      color: #fff;
      margin-left: 96px;
    }
      .formSliderBodyButton {
        font-size: 12px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 2px;
        background: transparent;
        margin-left: 96px;
        padding: 4px 8px;
        margin-top: 6px;
        height: 25px;
        line-height: 16px;
          -webkit-transition: all 0.2s ease-out;
          -moz-transition: all 0.2s ease-out;
          -o-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
      }
      .formSliderBodyButton:hover {
        background-color: #fff;
        color: #000;
      }

@media (max-width: 991px) {
  .formSliderBody {
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;    
  }
}

@media (max-width: 768px) {
  .logo {
    margin: 15px auto 10px;
    float:initial;
  }
  .telephone  {
    margin:0 auto;
    float:initial;
  }
  nav {margin-bottom:15px;}
  .pnlFormContainer {
    padding: 0 30px 30px 30px;
  }
  .pnlFormContainer h2 {
    margin-bottom: 5px !important;
    padding:10px 15px !important;
  }
}

@media (max-width:320px) {

.formSlider {
  height: 320px;
  overflow:hidden;
}
  .formSliderBody {
    height: 320px;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .formSliderContent {
    width: 100%;
    height: 50px;
    display: block;
    background-image: none;
    background-color: rgba(84, 83, 83, .5);
    background-size: 280px 61px;
    margin-top: 110px;
    padding-top: 8px;
    margin: 110px auto 0 auto;
  }
    .formSliderBodyTitle {
      font-size: 14px;
      line-height: 18px;
      font-weight: 500;
      color: #fff;
      margin-left: auto;
      text-align: center;
    }
    .slick-dots
    {
        position: absolute;
        bottom: 10px;
        display: block;
        width: 100%;
        padding: 0;
        right: 0;
        left: 0;
        list-style: none;
        text-align: center;
        margin-left: 0;
    }
    .slick-dots li button:before
    {
        font-family: 'slick';
        font-size: 12px;
        line-height: 16px;
    
        position: absolute;
        top: 0;
        left: 0;
    
        width: 16px;
        height: 16px;
    
        content: '•';
        text-align: center;
    
        opacity: .25;
        color: #992932;
    
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.checkboxWrap {
  display:inline-block;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.checkboxWrap a {
  color: #e30613;
}

.checkboxWrap .checkbox {
  display:inline-block;
  text-align: center;
}



.textCarousel {
  width: 100%;
  height: 50px;
  text-align: center;
  margin:50px 0 0 0;
}

.textCarousel ul {
  width: 100%;
  height: 50px;
}

.textCarousel ul li {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}

.pnlFormContainer h2 {
  color:#42464c;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 15px;
}

.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
}

.pnlFormContainer label.error {
  color:#e30613;
}

.text {
  text-align: left;
  font-size: 13px;
  margin-bottom: 15px;
}

.yeniRandevu {
  background:#e30613;
}
.kontrolRandevu {
  margin-left: 15px;
  background:#9a9a9a;
}

.table {
  width:100%;
  height:auto;
}

.table thead {
  background: #9a9a9a;
  color:#fff;
}

.table p {
  font-size: 14px;
}

.w40 {
  width:45px;
}


.w96 {
  width:96px;
}

.tableRow td {
  padding:0 !important;
}

.table>thead>tr>th {
  border-bottom:0;
}

.day {
  width:100%;
  display:inline-block;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

.daydate {
  width:100%;
  display:inline-block;
  text-align: center;
  font-size: 12px;
}

.textMusait {
  background:#6eb376;
  padding:3px;
  font-size: 12px;
  color:#fff;
}

.table ul {
  margin:0;
  padding:0;
}

.table ul li {
  display:block;
  text-align: center;
  font-size: 13px;
  color:#444;
  padding:4px;
  border-bottom:1px solid #ededed;
}

.musait {
  background:#6eb376;
  color:#fff !important;
  cursor: pointer;
  font-weight: 600;
}

.musait:hover {
  background:#56985e;
}

.active {
  background:#56985e;
}

.nextWeek, .nextMount {
  padding:5px 8px;
  margin:5px;
  background:#f9f9f9;
  border:1px solid #ededed;
  color:#444;
  font-size: 13px;
  display:inline-block;
}

strong {
  font-weight: 600;
}

.doctorProfile {
  width:100%;
  height:auto;
  display:block;
  float:left;
}

.profil {
  width:240px;
  height:240px;
  margin-bottom: 15px;
  float:left;
}

.randevuSonuc {
  width:456px;
  font-size: 15px;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
  float:left;
  display:block;
}

.doctorName {
  width:100%;
  display:block;
  font-size: 21px;
  font-weight: 600;
  text-align: left;
}

.doctorTitle {
  width:100%;
  display:block;  
  font-size: 15px;
  font-weight: 300;
  text-align: left;
}

.randevuList {
  width:100%;
  height:auto;
  margin-bottom: 15px;
}

.randevuList li {
  padding:5px 10px;
  border-left: 1px solid #ededed;
  line-height: 35px;
  font-size: 14px;
  display:inline-block;
  cursor:pointer;
}

.randevuList li a {
  color:#141619;
}

.randevuList li:first-child {
  border-left: 0;
}

.randevuList li.rActive {
  font-weight: 600;
}

table a {
  color:#9a9a9a;
  font-weight: 500;
}

.w980 {
  width:980px !important;
}

.checkInput {
  display:inline-block;
  float:left;
  margin-right: 5px !important;
  width:auto;
  height:auto;
  line-height: 18px;
}

.checkText {
  line-height: 18px;
  float:left;
  display:inline-block;
  font-size: 14px;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.table tbody.middleRow tr td {
  vertical-align:middle!important;
}

.passive {opacity:.5;}

.alignleft {text-align: left;}
.left {
  float:left;
  margin-bottom: 15px;
}


footer {
  background:#f9f9f9;
  margin-top: 35px;
  padding:30px 0;
  text-align: left;
  border-top:4px solid #ededed;
}

footer h3 {
  font-size: 21px;
  font-weight: 600;
  color:#42464c;
  margin-bottom: 15px;
}

footer ul li {
  padding:4px 0;
  border-bottom:1px solid #ddd;
}

footer ul li:last-child {
  border:0;
}

footer ul li a {
  color:#42464c;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}


.copyright {
  width:100%;
  height:35px;
  color:#fff;
  line-height: 35px;
  font-size: 12px;
  background:#e30613;
}

@media (min-width: 768px) and (max-width: 991px) {
  header .col-xs-12 {width:50% !important;}
}

@media (max-width:352px) {
  .randevuList {
    display:none;
  }
  .main p {font-size: 14px;}
  footer h3 {margin-top: 15px;}
}

table tr td:nth-child(odd) .musait{
  background:#519659;
}
