﻿<%@ Page Title="" Language="C#" MasterPageFile="~/WMMedikal.Master" AutoEventWireup="true" CodeBehind="e-randevu.aspx.cs" Inherits="WMMedikalNew.WebForm7" ValidateRequest="false" EnableEventValidation="false"  %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
  
    
      
  
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
 <iframe src="http://online.isuhastanesi.com" style="width:100%;height:100%;min-height:1077px;overflow:hidden" onload="window.parent.scrollTo(0,0)" >


 </iframe>
</asp:Content>
