﻿<%@ Page Title="" Language="C#" MasterPageFile="~/WMMedikal.Master" AutoEventWireup="true" CodeBehind="h_quality_management.aspx.cs" Inherits="WMMedikalNew.WebForm11" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

   <div class="sub-page-title" runat="server" id="topbanner">

    </div>
       <div class="section-line">
        <div class="breadcrumb2">
            <a href="/"><%=Resources.Lang.Anasayfa %> | </a><a href="#">Kalite Yönetimi</a> 
        </div>
    </div>

    <div class="container content">
        <div class="sub-content">
            <h1 class="huge">
                <asp:Literal ID="ltrHospitalName" runat="server"></asp:Literal></h1>
            <div class="content-section">

                <div class="content" style="background: none;">

                    <asp:Literal ID="ltrDescription" runat="server"></asp:Literal>

                </div>
            </div>
            </div>
        </div>
           <%-- <div>
                <div class="owl-carousel owl-theme" id="owl-hospital">

                    <asp:Repeater ID="PageGallery" runat="server">
                        <ItemTemplate>
                            <div>
                                <img src="<%#Eval("image_name") %>" alt="">
                            </div>
                        </ItemTemplate>
                    </asp:Repeater>
                </div>
            </div>
        </div>
    </div>
    <script src="carousel/owl.carousel.js"></script>
    <link href="carousel/owl.carousel.css" rel="stylesheet" />

            <script>
                $(document).ready(function () {
                    $("#owl-hospital").owlCarousel({
                        autoPlay: 3000,
                        items: 4,
                        navigation: true,
                        controls: true,
                    });
                })
    </script>--%>
</asp:Content>
