﻿<%@ Page Title="" Language="C#" MasterPageFile="~/WMMedikal.Master" AutoEventWireup="true" CodeBehind="hakkimizda.aspx.cs" Inherits="WMMedikalNew.hakkimizda" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
            <div class="sub-page-title bg-1">
        <div class="container">
            <h1 class="middle-content" style="margin-top:128px !important">
                <asp:Literal ID="ltrPageName" runat="server"></asp:Literal>
            </h1>
        </div>

        <div class="sublinks">
            <div class="container">
                
            </div>
        </div>
    </div>

    <div class="container content pad4050">



        <asp:Literal ID="ltrDescription" runat="server"></asp:Literal>


       
    </div>




    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="/assets/js/liv_global.js"></script>
</asp:Content>
