﻿<%@ Page Title="" Language="C#" MasterPageFile="~/WMMedikal.Master" AutoEventWireup="true" CodeBehind="our_hospital.aspx.cs" Inherits="WMMedikalNew.our_hospital1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <style>
                .grid4 {
                    margin-left:35px !important;
                    float:left;
                }
            </style>
    <div class="sub-page-title bg-hastanemiz">
        <div class="container">
            <h1 class="middle-content" style="margin-top: 128px;"> <%=Resources.Lang.Hastanelerimiz %> </h1>
        </div>

    </div>
    <div class="container content">
        <div class="sub-content">
                  <div class="content-section">
            <asp:Repeater ID="rptHospital" runat="server">
                <ItemTemplate>
                     

                        <%--    <div class="grid4" style="width:31%; margin-left: 15px !important;">
                       <a href="/hastane-detay/<%#WMMedikalNew.cExtensions.ToURL(Eval("HastaneAdi").ToString())%>-<%#Eval("sayfa_id") %>/<%#WMMedikalNew.cBase.Lang%>">  
                          <img src="/uploads/hospitals/<%#Eval("hospital_image") %>"/>--%>

                       </a>
                                 <br />
                        <h1 class="huge">
                          <a href="<%#WMMedikalNew.cBase.Lang%>/hastane-detay/<%#WMMedikalNew.cExtensions.ToURL(Eval("HastaneAdi").ToString())%>-<%#Eval("sayfa_id") %>"> <%#Eval("HastaneAdi") %>  </a></h1>
                    </div>

                    
                    </ItemTemplate>
                </asp:Repeater>
                      </div>

        </div>

    </div>
</asp:Content>
