﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="admin.master.cs" Inherits="WMMedikalNew.admin.admin" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Yönetim Paneli</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="plugins/iCheck/flat/blue.css">
    <link rel="stylesheet" href="plugins/morris/morris.css">
    <link rel="stylesheet" href="plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet" href="plugins/datepicker/datepicker3.css">
    <link rel="stylesheet" href="plugins/daterangepicker/daterangepicker-bs3.css">
    <link rel="stylesheet" href="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">




    <script src="plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>

    <script src="plugins/sparkline/jquery.sparkline.min.js"></script>

    <script src="plugins/knob/jquery.knob.js"></script>

    <script src="plugins/daterangepicker/daterangepicker.js"></script>
    <script src="plugins/datepicker/bootstrap-datepicker.js"></script>

    <script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="plugins/fastclick/fastclick.min.js"></script>
    <script src="dist/js/app.min.js"></script>

    <script src="dist/js/demo.js"></script>
    <script src="plugins/datatables/jquery.dataTables.min.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <form id="form1" runat="server">
        <div class="wrapper">
            <header class="main-header">
                <a href="default.aspx" class="logo">
                    <%-- <span class="logo-mini"><b>WM</b>P</span>
                    <span class="logo-lg"><b>WM</b>MedicalPark</span>--%>
                    <img src="logo.png" style="width: 145px; margin-right: 31px;" />
                </a>
                <nav class="navbar navbar-static-top" role="navigation">
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>

                </nav>
            </header>
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">


                    <ul class="sidebar-menu">
                        <li class="header">Ana Menü</li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-dashboard"></i><span>Anasayfa</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu" style="display: none;">
                                <li><a href="slider_ekle.aspx"><i class="fa fa-circle-o"></i>Slider</a></li>
                                <li><a href="haberler.aspx?t=2"><i class="fa fa-circle-o"></i>Duyurular</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-dashboard"></i><span>Sağlık Köşesi</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu" style="display: none;">
                                <li><a href="haberler.aspx?t=1"><i class="fa fa-circle-o"></i>Tüm İçerikler</a></li>
                                <li><a href="haber_ekle.aspx?t=1"><i class="fa fa-circle-o"></i>Yeni İçerik Ekle</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-edit"></i><span>Sayfalar</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu" style="display: none;">
                                <li><a href="hakkimizda.aspx"><i class="fa fa-circle-o"></i>Liv Concept</a></li>
                                <li><a href="kariyer.aspx?page_id=17"><i class="fa fa-circle-o"></i>Kariyer</a></li>
                                <%--     <li><a href="hakkimizda_genel.aspx?page_id=16"><i class="fa fa-circle-o"></i>Hakkımızda</a></li>
                                <li><a href="filmlerimiz.aspx"><i class="fa fa-circle-o"></i>Tanıtım Filmlerimiz</a></li>--%>
                                <%--   <li><a href="galeri.aspx"><i class="fa fa-circle-o"></i>Fotoğraf Galeri</a></li>--%>
                                <%--  <li><a href="video_galeri.aspx"><i class="fa fa-circle-o"></i>Video Galeri</a></li>--%>
                                <%--<li><a href="kurumsal_kimlik.aspx"><i class="fa fa-circle-o"></i>Logo ve Kurumsal Kimlik</a></li>--%>
                                <li><a href="sosyal_medya.aspx"><i class="fa fa-circle-o"></i>Sosyal Medya Hesapları</a></li>
                                <%--      <li><a href="hakkimizda.aspx?page_id=6"><i class="fa fa-circle-o"></i>Misyon ve Vizyon</a></li>--%>
                                <%--                 <li><a href="basindabiz.aspx"><i class="fa fa-circle-o"></i>Basında MedicalPark</a></li>--%>
                                <%-- <li><a href="bilgi_sayfalari.aspx?page_id=7"><i class="fa fa-circle-o"></i>Hasta Hakları ve Sorumlukları</a></li>
                                <li><a href="bilgi_sayfalari.aspx?page_id=8"><i class="fa fa-circle-o"></i>Refakatçi Politikamız</a></li>
                                <li><a href="bilgi_sayfalari.aspx?page_id=9"><i class="fa fa-circle-o"></i>Ziyaretçi Politikası</a></li>--%>
                                <li><a href="gizlilik.aspx"><i class="fa fa-circle-o"></i>Gizlilik</a></li>

                            </ul>
                        </li>


                        <li><a href="tibbi_hizmetlerimiz.aspx?page_id=2"><i class="fa fa-medkit"></i><span>Tıbbi Birimlerimiz</span></a></li>
                        <li><a href="tibbi_hizmetlerimiz.aspx?page_id=2&m=1"><i class="fa fa-medkit"></i><span>Merkezlerimiz</span></a></li>
                        <li><a href="doktor_listesi.aspx?hastane_id=27&page_id=3"><i class="fa fa-user-md"></i><span>Doktorlarımız</span></a></li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-book"></i><span>Hakkımızda</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu" style="display: none;">
                                <li><a href="hastanemiz.aspx?page_id=1"><i class="fa fa-circle-o"></i>Hakkımızda</a></li>
                                <li><a href="h_anlasmali_kurumlar.aspx?hastane_id=27&page_id=4"><i class="fa fa-circle-o"></i>Anlaşmalı Kurumlar</a></li>
                                <li><a href="h_kalite_yonetimi.aspx?page_id=7"><i class="fa fa-circle-o"></i>Kalite Yönetimi</a></li>
                                <li><a href="h_iletisim.aspx?hospital_id=27"><i class="fa fa-circle-o"></i>İletişim Bilgileri</a></li>
                            </ul>
                        </li>
                        <%--<li><a href="hastane_sayfalar.aspx"><i class="fa fa-book"></i><span>Hastanemiz</span></a></li>--%>
                        <%--    <li><a href="tibbi_hizmetlerimiz.aspx?page_id=2"><i class="fa fa-book"></i><span>Tıbbi Hizmetlerimiz</span></a></li>
                        <li><a href="doktorlarimiz.aspx"><i class="fa fa-book"></i><span>Doktorlarımız</span></a></li>--%>

                        <%--   <li class="treeview">
                            <a href="#">
                                <i class="fa fa-map-marker"></i><span>İletişim Bilgileri</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu" style="display: none;">
                                <asp:Repeater ID="rptContact" runat="server">
                                    <ItemTemplate>
                                        <li><a href="h_iletisim.aspx?hospital_id=<%#Eval("id") %>"><i class="fa fa-circle-o"></i><%#Eval("HastaneAdi") %></a></li>
                                    </ItemTemplate>
                                </asp:Repeater>

                            </ul>
                        </li>--%>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-edit"></i><span>Anlaşmalı Kurumlar</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu" style="display: none;">
                                <li><a href="h_anlasmali_kurumtipi.aspx"><i class="fa fa-circle-o"></i>Kurum Tipleri</a></li>
                                <li><a href="h_anlasmali_kurumlar.aspx"><i class="fa fa-circle-o"></i>Kurumlar</a></li>
                            </ul>
                        </li>

                        <%--   <li><a href="aboneler.aspx"><i class="fa fa-book"></i><span>Aboneler</span></a></li>--%>
                        <li><a href="dosya_yonetim.aspx"><i class="fa fa-share"></i><span>Dosya Yükleme</span></a></li>


                        <%--     <asp:Repeater ID="rptHospital" runat="server" OnItemDataBound="rptHospital_ItemDataBound">
                            <ItemTemplate>
                                <li class="treeview">
                                    <a href="#"><i class="fa fa-newspaper-o"></i><span><%#Eval("hospital_name") %>  </span><i class="fa fa-angle-left pull-right"></i></a>
                                    <ul class="treeview-menu" style="display: none;">
                                        <asp:Repeater ID="rptHospitalPage" runat="server" OnItemDataBound="rptHospitalPage_ItemDataBound">
                                            <ItemTemplate>
                                                <li>
                                                    <asp:HyperLink ID="hypPageLink" runat="server">
                                                   <i class="fa fa-circle-o"></i><%#Eval("page_name") %>
                                                    </asp:HyperLink>

                                                </li>
                                            </ItemTemplate>
                                        </asp:Repeater>
                                    </ul>

                                </li>
                            </ItemTemplate>
                        </asp:Repeater>--%>




                        <li>
                            <asp:LinkButton ID="lnkLogout" OnClick="lnkLogout_Click" runat="server"><i class="fa fa-book"></i><span>Çıkış Yap</span></asp:LinkButton>


                        </li>

                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>


    <script>
        $(document).ready(function () {
            //$("#xFilePath").prop('disabled', true);
        })
    </script>


</body>
</html>
