﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin/admin.Master" AutoEventWireup="true" CodeBehind="default.aspx.cs" Inherits="WMMedikalNew.admin.WebForm1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
       <div class="content-wrapper">

              <div class="alert alert-danger"  style="text-align:center;">
     
        <br />
                    <strong style="font-size:20px;font:bold">Hatırlatmalar</strong>
                  <br />
                  <br />

        <strong style="font-size:17px">Kapak resimlerinin ebatları 1350*380</strong>
                   <br />
                  <br />
        <strong  style="font-size:17px">Ana sayfa slider resminin ebatları 1350*370</strong>

                   <br />
                 <br />
                 <strong  style="font-size:17px">Hastanemiz sayfası galeri resimleri 412*292 (Thumb boyutu için resize işlemi yapılcaktır.)</strong>

    </div>

           </div>
</asp:Content>
